/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

li.icon-chevron-up, li.icon-chevron-up:hover
{
    color: @buttontextcolor;

    vertical-align: middle;
    position: fixed;
    bottom: 20px;
    right: 20px;
    
    padding: 10px;
    min-width: 25px;
    min-height: 25px;
    
    border-radius: 0px;
    border: 1px solid @buttonbordercolor;
    
    background-color: @buttonbackgroundcoloralternate;    

    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

li.icon-chevron-up:hover
{
    color: @buttontextcolorhover;
    background-color: @buttonbackgroundcolorhover;
    border: 1px solid @buttonbackgroundcolorhover;
}

// Buttons and Inputs
.readmore
{
    a
    {
        color: @buttontextcolor;
        &:hover
        {
            color: @buttontextcolor;
        }
    }
}

.btn:focus{
    outline: none;
}

.btn:hover, 
.btn-primary:hover, 
.btn:active, 
.btn-primary:active, 
.btn.disabled:hover, 
.btn[disabled]:hover,
.btn.disabled:active, 
.btn[disabled]:active,
.button:active, .readon:active, .readmore:active, button.validate:active, #member-profile a:active, #member-registration a:active, .formelm-buttons button:active,
.button:hover, .readon:hover, .readmore:hover, button.validate:hover, #member-profile a:hover, #member-registration a:hover, .formelm-buttons button:hover,.btn, .btn-primary,
.button, .readon, .readmore, button.validate, #member-profile a, #member-registration a, .formelm-buttons button, .btn.hasTooltip, .btn.hasTooltip:active, .btn.hasTooltip:hover,
.input-append .btn:last-child, .input-append .btn:first-child, .input-prepend .btn:first-child, .form-search .input-prepend .btn
{
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: auto;
    z-index: 0;
    outline: none;
    
    background: @buttonbackgroundcolor;
    color: @buttontextcolor;

    font-weight: normal;
    font-family: Verdana;
    font-size: 8pt;
    
    text-transform: uppercase;
    text-shadow: none;
    text-align: center;
    
    .border-radius(0 !important);
    border: 1px solid @buttonbordercolor;
    
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

.input-append .btn:last-child, .input-append .btn:first-child, .input-prepend .btn:first-child, .form-search .input-prepend .btn
{
    height: 30px;
}

.btn-primary.disabled, .btn-primary[disabled], .btn.disabled, .btn[disabled],
.btn-primary.disabled:hover, .btn-primary[disabled]:hover, .btn.disabled:hover, .btn[disabled]:hover,
.btn-primary.disabled:active, .btn-primary[disabled]:active, .btn.disabled:active, .btn[disabled]:active{
    background-color: lighten(@buttonbackgroundcolorhover,20%);
    color: lighten(@buttontextcolorhover,20%);
    border: 1px solid ligthen(@buttonbackgroundcolorhover,20%);
    .transition(none);
}

.btn:hover, 
.btn-primary:hover, 
.btn:active, 
.btn-primary:active, 
.button:active, .readon:active, .readmore:active, button.validate:active, #member-profile a:active, #member-registration a:active, .formelm-buttons button:active,
.button:hover, .readon:hover, .readmore:hover, button.validate:hover, #member-profile a:hover, #member-registration a:hover, .formelm-buttons button:hover,
.input-append .btn:last-child:hover, .input-append .btn:first-child:hover, .input-prepend .btn:first-child:hover, .form-search .input-prepend .btn:hover,
.input-append .btn:last-child:active, .input-append .btn:first-child:active, .input-prepend .btn:first-child:active, .form-search .input-prepend .btn:active,
.btn.hasTooltip:active, .btn.hasTooltip:hover
{
    color: @buttontextcolorhover;    
    background-color: @buttonbackgroundcolorhover;
    border: 1px solid @buttonbackgroundcolorhover;
    
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

.btn-primary
{
    background-color: @buttonbackgroundcoloralternate;
}

#toTop
{
    text-align: center;
    vertical-align: middle;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    display: none;
    font-size: 14px;
    padding: 10px;
    .border-radius(0);
    width: 25px;
    height: 25px;

    background: @buttonbackgroundcolor;
    color: @buttontextcolor;

    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    z-index: 20000;
}

// resetting Bootstrap buttons
.btn:focus
{
    outline: none;
}

// SHOWCASE BUTTON OVERRIDES
#ct-showcase-divider
{
    padding-bottom: 70px;
    margin-bottom: -1px;
}

@media (max-width: 1224px)
{
    #ct-showcase-divider
    {
        padding-bottom: 0;
    }
}

#rt-showcase
{
    .rt-block
    {
        margin-left: 0;
        margin-right: 0;
        padding-right: 0;
        padding-left: 0;
        z-index: 1;
    }
    
    a, ul.menu li .separator
    {
	color: @showcaselinkcolor;    
    }

    a:hover
    {
	color: @showcaselinkcolorhover;
    }
}

// FEATURE BUTTON OVERRIDES
#rt-feature
{
    .btn:focus
    {
        outline: none;
    }
}

// FOOTER BUTTON OVERRIDES
#rt-footer, .box2
{
    a, ul.menu li .separator
    {
	color: @footerlinkcolor;
    }

    a:hover
    {
	color: @footerlinkcolorhover;
    }
}

// override the above for signaling buttons
.btn-info,
.btn-info:hover, 
.btn-info:active
{
    color: #fafafa;
    background: none;
    background-color: #49AFCD;
    border-color: #265966;
}

.btn-success,
.btn-success:hover, 
.btn-success:active
{
    color: #fafafa;
    background: none;
    background-color: #5BB75B;
    border-color: #2e5c2e;
}

.btn-warning,
.btn-warning:hover, 
.btn-warning:active
{
    color: #fafafa;
    background: none;
    background-color: #FAA732;
    border-color: #7d521a;
}

.btn-danger,
.btn-danger:hover, 
.btn-danger:active
{
    color: #fafafa;
    background: none;
    background-color: #DA4F49;
    border-color: #6b2629;
}

.btn-inverse{
    color: @buttontextcolorhover;    
    background-color: @buttonbackgroundcolorhover;
    border: 1px solid @buttonbackgroundcolorhover;
}

.btn-inverse:hover, 
.btn-inverse:active
{
    color: @buttontextcolor;    
    background-color: @buttonbackgroundcoloralternate;
    border: 1px solid @buttonbordercolor;
}

.btn-link
{
    border: 0;
    color: @linkcolor;
    background: none;
    text-decoration: none;
}

.btn-link:hover,
.btn-link:active
{
    border: 0;
    color: @linkcolorhover;
    background: none;
    text-decoration: none;
    -webkit-transition: none;
    -moz-transition: none;
     -o-transition: none;
    -ms-transition: none;
    transition: none;
}

// iconic buttons
.ct-iconic-text{
    padding-top: 5px;
}

.pic
{
    width: 80px;
    height: 80px;
    margin: 0 auto;
    background-color: @buttonbackgroundcolorhover;
    border-radius: 100%;
}

.pic a
{
    width: 80px;
    height: 80px;
    position: absolute;    
    border-radius: 100%;    
    overflow: hidden;
 }
 
.rotate img
{
    width: 40px;    
    height: 40px;
    padding: 20px 0px 0px 20px;
}
 
.rotate
{
    -webkit-transform-style: preserve-3d;
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

.rotate:hover
{
    
    
    border-radius: 25%;
    background-color: darken(@buttonbackgroundcoloralternate, 50%);    
    
    -webkit-transform: rotate(360deg) scale(1.2);
       -moz-transform: rotate(360deg) scale(1.2);
         -o-transform: rotate(360deg) scale(1.2);
        -ms-transform: rotate(360deg) scale(1.2);
            transform: rotate(360deg) scale(1.2);
}

.paraShave
{
    p
    {
        margin: 0px;
        padding: 0px;
    }
}