

// Top Section -----------------

#ct-menu{
    display: none;
}

#rt-header .rt-grid-6.rt-alpha{
    width: 400px;
}

@media only screen and (max-width: 767px) {
    #rt-header .rt-grid-6.rt-alpha{
        width: 100%;
    }
    .logo-block{
        margin: 0 auto;
        text-align: center;
        width: auto;
    }
}

#rt-header .rt-grid-6.rt-omega{
    width: auto;
}

#rt-header .logo-block, #rt-top .logo-block{
    display: inline-block;
    position: relative;
    width: 185px;
}

@media (max-width: 1224px)
{

}

#rt-top .search{
    text-align: right;
}

@media only screen and (max-width: 767px) {
    #rt-header .logo-block, #rt-top .logo-block{
        float: none;
        display: block;
        position: relative;
        top: 0;
    }
}

// Showcase
#rt-showcase > .rt-showcase-pattern > .rt-container {
        
        text-shadow: none;
        width: 100%;
        
        .rt-grid-12{
            
            width: 100%;
            
            .rt-block {
                margin: 0;
                padding: 0;
            }
        }
}

#ct-showcase-slider-wrap{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

#rt-showcase {
    
    color: @showcasetext;
    h1,h2,h3,h4,h5,h6,.title {
        color: @showcasetitle;
    }
     
}

// Modules


// Extras
.promo {
	h1 {
		text-shadow: @titleshadow;
	}
}

#rt-drawer{
    background-color: transparent;
}

#ct-menu-surround{ z-index: 2; }





