@import "variables.less";
@import "/jui/less/mixins.less";
@import "mixins/index.less";
// import the appropriate color scheme based on header
@import "menu-@{headerstyle}.less";

.gf-menu
{
    // Bottom border fixer
    &.l1 > li
    {
        &:hover > .item
        {
            color: @menuTextHover;
        }
    }

    &.l1 > li
    {
        &:hover, &.active:hover
        {
            background-color: @menuHoverColor;
        }
    }
    // Default items
    li
    {
        &:hover > .item
        {
            color: @menuTextHover;
            text-shadow: none;
            
            em
            {
                color: @menuTextHover;
            }
        }
    }
    // Parent items
    li.parent 
    {
        &:hover
        {
            z-index: 10210;
        }
    }

}



// RTL
body.rtl
{
}