@import "variables.less";
@import "/jui/less/mixins.less";
@import "mixins/index.less";
// import the appropriate color scheme based on header
@import "menu-@{headerstyle}.less";

// Core

.module-title{
    
    .h1,.h2,.h3,.h4,.h5,.h6,.title{
        margin: 0;
    }
    
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.gf-menu-toggle{
    display: none !important;
}

.bfQuickMode .form-actions{
    border-top: 2px solid @menuHoverColor;
}

// TOP

#rt-top-surround {
    padding-top: 30px;
}

#featureToTop
{
        margin: -30px auto;
	border: none;
	background: @linkcolor;
	text-align: center;
        vertical-align: middle;
	cursor: pointer;
	color: @buttontextcolor;
	font-size: 14px;
        padding: 10px;
        .border-radius(0);
        width: 25px;
        height: 25px;
        outline: 0;
}

@media (max-width: 1224px)
{
    .gf-menu
    {
        &.l1
        {
            > li{
                padding-bottom: 10px !important;
                padding-top: 10px !important;
                margin-bottom:0px !important;
                margin-bottom: -1px !important;
            }
             > li > .item   //menu shadow
            {
                font-size: 12px !important;
                
            }
        }
    }
    
    #rt-header .ct-dropdown-holder{
    
        > .dropdown ul li .item
        {
            font-size: 12px !important;
        }
        .module{
            font-size: 12px !important;
        }
    }
} 

.gf-menu
{
    // Menu positioning
    visibility: hidden;
    list-style: none;
    width: auto;
    float: right;
    vertical-align: text-bottom;
    
    // Clears
    &:after
    {
        display: table;
        content: '';
        clear: both;
    }

    //dropdown block
    ul
    {
        list-style: none;
        padding: 0;
        margin: 0;
    }


    // Basic font stuff
    
    .item
    {
        font-family: @menuFontFamily;
        font-size: @menuFontSize;
        line-height: @menuLineHeight;
        color: @menuTextColor;
        
        padding: 4px 5px;
        text-align: left;

        text-decoration: none;
        
        display: inline-block;
        width: 100%;
        
        outline: 0;
        cursor: pointer;

        // Subtext styling
        &.subtext
        {
            padding-top:1px;
            padding-bottom: 4px;
            
            > em
            {
                display: block;
                font-size: @menuFontSize;
                line-height: @menuLineHeight - 10;
                color: @menuSubTextColor;
                text-align: left;
                font-style: normal;
            }
        }

        // Menu icon tweaks
        &.icon
        {
            [class^="icon-"], [class*="icon-"]
            {
                background-image: none !important;
                width: auto;
                
                margin-top: -5px;
                display: inline-block;
                
                &:before
                {
                    text-indent: 0;
                    margin-right: 5px;
                }
            }
        }
        // Menu Image tweaks
        .menu-image
        {
            max-width: inherit;
            vertical-align: text-top;
            margin-top: -2px;
            margin-left: -2px;
        }
    }

    // Level 1 Style Overrides
    &.l1
    {
        margin: 0;

        > li
        {
            background: @menuActiveBack;
            width: 114px;
            height: 114px;
            outline: 0;
            padding-bottom: 5px;
            
            &.ct-megamenu-l1-active{
                background-color: @menuHoverColor;
                color: @menuTextHover;
                > .item
                {
                    color: @menuTextHover;
                }
            }
            
            &.ct-megamenu-l1-inactive{
                background: @menuActiveBack;
                color: @menuTextColor;
                > .item
                {
                    color: @menuTextColor;
                }
            }
        }

        > li.active{
           background-color: @menuHoverColor;
        }
        
        > li.active > .item
        {
            color: @menuTextHover;
        }

        > li > .item   //menu shadow
        {
            color: @menuTextColor;
            position: absolute;
            margin-top: 25%;
            font-size: @menuFontSize;
            padding: 4px 20px;
            
            &.subtext
            {
                padding-top:1px;
                padding-bottom: 4px;
            }

            .menu-image
            {
                margin-top: -1px;
            }
        }
    }
    
    // Default items
    li
    {
        float: left;
        display: block;
        position: relative;
        padding: 0;
        border: none;
        padding-bottom: 5px;
    }
    
    li:last-child
    {
        margin-bottom: 0;
    }
    
    li.active > .item
    {
        background-color: @menuHoverColor;
    }

    // Parent items
    li.parent
    {
        
        > .item
        {
            position: relative;

            &:after
            {
                //icons?
                color: @menuArrowColor;
                position: absolute;
                right: 6px;
                top: 50%;
                margin-top: -12px;
                font-family: FontAwesome;
                content:"";
                font-size: 11px;
            }
        }
    }
    
    // Columns
    .column
    {
        float: left;
        position: relative;
    }
    //Die UL testweise eingesetzt (bis zeile 459)!!
    

    // Alignment Helpers
    .position-left
    {
        float: left;
        margin-right: 15px;
    }

    .position-right
    {
        float: right;
        margin-left: 15px;
    }
}

.gf-menu
{
   &.l1
   {
        margin: 0;
        
        > li
        {
            
            background: none;
            .border-radius(0);
            width: auto;
            height: auto;
            border: 0;
            outline: 0;
            .box-shadow(none);
            padding-bottom: 20px;
            padding-top: 20px;
            &.parent{
                margin: 0 !important;
            }
        }
        
        li[class^="item"] {
            margin-bottom: -1px;
            -webkit-margin-after: -1px;
        }

        > li > .item
        {
            position: relative;
            margin-top: 0;
            top: 0; left: 0; right: 0; bottom: 0;
            text-align: left;
            vertical-align: top;
            font-size: 16px;
            text-transform: uppercase;
            width: auto;

            &.subtext
            {
                padding-top:1px;
                padding-bottom: 4px;
            }

            .menu-image
            {
                margin-top: -1px;
            }
        }
    }
}

#rt-header{
    border-bottom: 8px solid @menuHoverColor;
}

.ct-clear{
    clear: both;
}

#rt-header .ct-dropdown-holder{
    
    > .dropdown
    {
        position: absolute;
        width: 100%;
        height: auto;
        left: -999em;
        text-align: left;
        padding-bottom: 25px;
        
        background: @menuHoverColor;
        
        &.ct-megamenu-hidden{
            left: -999em;
            visibility: hidden;
            .opacity(0);
        }
        
        &.ct-megamenu-visible{
            left: 0;
            .opacity(100);
            visibility: visible;
            top: auto;
        }
        
        .l2, .l3, .l4, .l5, .l6, .l7, .l8, .l9 {
             > ul {
                width: auto;
             }
        }
        
        .l2 {
            
            > li{
                vertical-align: top;
                display: inline-block;
                position: relative;
                width: auto;
                margin-left: 10px;
                margin-right: 10px;
                padding-top: 25px;
                
                &[class^="item"]{
                    width: 150px;
                    max-width: 150px;
                }
                
                > .item {
                    color: @menuTextHover;
                    text-transform: uppercase;
                    font-size: @menuFontSize + 2;
                    
                    &.icon
                    {
                        [class^="icon-"], [class*="icon-"]
                        {
                            background-image: none !important;
                            width: auto;

                            margin-top: -5px;
                            display: inline-block;

                            &:before
                            {
                                text-indent: 0;
                                margin-right: 5px;
                            }
                        }
                    }
                }
                
                &.active > .item
                {
                    color: darken(@menuTextColor, 35%);
                }
                
                .dropdown{
                    
                    li{
                        &[class^="item"]{
                            width: 150px;
                            max-width: 150px;
                        }
                        margin-right: 15px;
                        white-space: normal;
                        
                        > .item{
                            color: @menuTextHover;
                        }
                        
                        &.active > .item
                        {
                            color: darken(@menuTextColor, 25%);
                        }
                    }
                }
            }
        }
        
        .column
        {
            width: 1200px;
            margin: 0 auto;
            overflow: hidden;
            padding: 0;
            z-index:1;
        }
        
        @media only screen and (max-width: 1199px) and (min-width: 960px){
            .column {
                width: 960px;
            }
        }
        
        @media only screen and (max-width: 959px) and (min-width: 768px){
            .column {
                width: 768px;
            }
        }
    
        .item
        {
            font-size: 100%;
        }
        
        .flyout
        {
            display: block;
            
            .column:before
            {
                content: "";
                position: absolute;
                left: -30px;
                width: 50px;
                height: 25px;
            }
        }
        
        ul
        {
            //dropdown block
            list-style: none;
            padding: 0;
            margin: 0;
            
            li:last-child
            {
                border: 0;
                .box-shadow(none);
            }
            
            li
            {
                white-space: nowrap;
                width: 100%;
                padding: 0;
                margin: 0;
                
                &.ct-megamenu-100, &.ct-megamenu-100 li.modules {
                    width: 100px !important;
                    max-width: 100px !important;
                    padding-right: 10px !important;
                }
                &.ct-megamenu-200, &.ct-megamenu-200 li.modules {
                    width: 200px !important;
                    max-width: 200px !important;
                    padding-right: 10px !important;
                }
                &.ct-megamenu-300, &.ct-megamenu-300 li.modules {
                    width: 300px !important;
                    max-width: 300px !important;
                    padding-right: 10px !important;
                }
                &.ct-megamenu-400, &.ct-megamenu-400 li.modules {
                    width: 400px !important;
                    max-width: 400px !important;
                    padding-right: 10px !important;
                }
                &.ct-megamenu-500, &.ct-megamenu-500 li.modules {
                    width: 500px !important;
                    max-width: 500px !important;
                    padding-right: 10px !important;
                }
                
                .item:hover{
                    border-bottom: 1px solid @menuTextHover;
                    padding-bottom: 1px;
                }
                
                &.active
                {

                    > .item
                    {
                        text-shadow: none;
                    }
                }
                
                &.active
                {

                    > .item:hover
                    {
                        border-bottom: 1px solid darken(@menuTextColor, 25%);
                    }
                }

                .item
                {
                    color: black;
                }

                &.parent
                {
                    > .item:after
                    {
                        margin-top: -10px;
                        font-family: FontAwesome;
                        content: "";
                        font-size: 11px;
                    }
                }
            }
        }

        // Grouped styling
        .grouped
        {
            li
            {
                margin-left: 0px; 
                margin-right: 0px;
                background: 0;
            }

            &.parent
            {
                > .item
                {
                    .border-fixer
                    {
                        display:none;
                    }
                    &:after
                    {
                        font-family: FontAwesome;
                        content: "";
                        font-size: 11px; 
                    }
                }
            }

            ol
            {
                margin: 0px 0px;
                padding: 0px 0;

                > li
                {
                    > .item
                    {
                        font-size: @menuFontSize;
                    }
                }
            }
        }
        
    }
}

#ct-menu-surround .gf-menu
{
    border: 0;
    .box-shadow(none);
    padding-top: 10px;
    padding-bottom: 5px !important;
    padding-left: 5px;
    padding-right: 5px;
    
}

// Responsive Media Queries
// Desktop Modes

@media (min-width: 768px) and (max-width: 959px)
{
    .layout-mode-responsive
    {
        .gf-menu.l1 > li
        {

            > .item
            {
                font-size: @menuFontSize + 4;
                &.subtext
                {
                    padding-top:7px;
                    padding-bottom: 7px;
                    em
                    {
                        display:none;
                    }
                }

                &.image
                {
                    img
                    {
                        display: none;
                    }
                }
            }
        }
    }
}


// Hover specific styling for > tablets
@media only screen and (min-width: 768px)
{
    @import "menu-hovers.less";
}

.layout-mode-960fixed, .layout-mode-1200fixed
{
    @import "menu-hovers.less";
}

.responsive-type-selectbox
{
    display: none;
}

// Mobile Specific Mode (Tree View)
@media (max-width: 767px)
{
    #ct-menu-surround
    { 
        position: absolute;
        top: 0;
        left: 0;
    }

    .responsive-type-selectbox
    {
        display: block;
        margin: 0 !important;
    }

    #ct-logo-block{ display: none !important; }

    .layout-mode-responsive
    {

        .gf-menu-device-wrapper-sidemenu
        {
            background: @menubackgroundcolor;
        }

        .gf-menu-device-wrapper
        {
            margin-bottom: 15px !important;
        }

        .gf-menu-device-container
        {
            border-top: 0;
            .border-radius(5px);
            padding: 5px;

            select
            {
                margin-bottom: 0;
                width: 100%;
            }
        }

        .gf-menu
        {
            margin: 10px auto 0;
            border-top: 15px solid @menuMobileBack;
            background-clip: content-box;
            -webkit-background-clip: content-box;
            background: transparent url(../images/menu/tree-main.png) repeat-y !important;

            li
            {
                background: url(../images/menu/tree-node.png) no-repeat !important;
                padding-left: 20px !important;
                margin-right: 0 !important;

                &.active
                {

                    &.last
                    {
                        background: url(../images/menu/tree-node.png) no-repeat !important;
                        border: 0 !important;
                        .box-shadow(none) !important;
                    }
                }

                .columns-1 > .col1,
                .columns-2 > .col2,
                .columns-3 > .col3,
                .columns-4 > .col4 {
                        > ul > li:last-child
                        {
                            background: transparent url(../images/menu/tree-node-last.png) 0 -2px no-repeat !important;
                        }
                }

                ol
                {
                    > li:last-child
                    {
                        background: transparent url(../images/menu/tree-node-last.png) 0 -2px no-repeat !important;
                    }
                }


                &:hover > .item
                {
                    color: @menuTextHover !important;
                    text-shadow: none;
                }

                .item
                {
                    padding: 2px 5px !important;
                    &.subtext
                    {
                        em
                        {
                            display:none;
                        }
                    }

                    &:after
                    {
                        content: '' !important;
                    }
                }
            }

            // top level special cases
            > li:first-child, > li:first-child.active
            {
                margin-top: -15px;
                background: url(../images/menu/tree-node-first.png) no-repeat !important;
            }

            > li:last-child
            {
                background: transparent url(../images/menu/tree-node-last.png) 0 -2px no-repeat;
            }

            .dropdown.columns-1 li{ padding: 0; }

            .dropdown
            {
                width: 100% !important;
                border: 0 !important;
                padding-top: 0 !important;
                padding-bottom: 0 !important;
                background: transparent !important;
                .box-shadow(none) !important;
                position: relative;
                left: inherit;
                top: inherit;
                .opacity(100);
                .clearfix();

                ul li{ margin-left: 0px; margin-bottom: 0px; }

                .flyout
                {
                    display: block;
                }

                .column
                {
                    width: 100% !important;
                }

                .column.col2, .column.col4, .column.col4
                {
                    margin-left: 0px;
                }

                .grouped
                {
                    ol
                    {
                        .box-shadow(none) !important;
                        border: 0 !important;
                        margin: 0 !important;
                        padding: 0 !important;
                    }
                }

                .box-shadow(none) !important;
                border: 0 !important;
                margin: 0 !important;

                .modules
                {
                    display: none;
                }
            }

            &.l1
            {

                > li
                {
                    float: none;
                    margin-left: 0;

                    &.active
                    {
                        margin-left: 0px;
                        background: transparent;
                        .box-shadow(none);
                        border: 0;
                    }

                    > .item
                    {
                        font-size: @menuFontSize + 1;
                    }
                }
            }
        }
    }
}

// RTL
body.rtl
{
    .gf-menu
    {
        &.l1
        {
            > li
            {
                float: right;
            }
        }
        li
        {
            .item
            {
                text-align: right;
            }
            &.parent
            {
                > .item
                {
                    padding-right: 8px;
                    padding-left: 25px;
                    &:after
                    {
                        right: inherit;
                        left: 6px;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px)
{
    .layout-mode-responsive.rtl
    {
        .gf-menu
        {
            &.l1
            {
                > li
                {
                    float: none;
                }
            }
            li
            {
                .item
                {
                    text-align: left;
                }
            }
        }
    }
}


/* Being: Mobile sidemenu */
body.layout-mode-responsive
{
    .transition(left 0.2s ease-out);
    position: relative;

    .gf-menu-device-wrapper-sidemenu
    {
        left: -@menuSideSize;
    }

    .gf-sidemenu-size-left
    {
        left: 0;
        .transition(left 0.2s ease-out);
    }        
}

body.gf-sidemenu-size-marginleft
{
    left: @menuSideSize;
    position: relative;
    overflow: hidden;
    .transition(left 0.2s ease-out);
}

@media (max-width: 767px)
{
    .gf-menu-device-container.responsive-type-panel ~ ul.gf-menu
    {
        display: none;
    }
    .layout-mode-responsive
    {
        .gf-menu-device-wrapper
        {
            &.gf-menu-device-wrapper-sidemenu
            {
                margin-bottom: 0 !important;
            }
        }
        // sidemenu
        .gf-menu-device-wrapper-sidemenu
        {

            .dropdown
            {
                .column
                {
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }

            .transition(left 0.2s ease-out);
            position: fixed !important;
            top: 0;
            left: -@menuSideSize;
            right: 0;
            bottom: 0;
            margin: 0 !important;
            z-index: 6000;
            overflow: auto !important;

            background: @menuMobileBack;
            border: 0;
            .border-radius(0);
            .box-sizing(border-box);
            padding: 0;
            width: @menuSideSize;

            .gf-menu-device-container
            {
                display: block;
                padding: 0;
                margin: 0;
                .border-radius(0);
                .box-shadow(none);
                border: 0;
                width: 95%;
            }
        }
    }
}

@media (min-width: 768px)
{
    .layout-mode-responsive
    {
        .gf-menu-device-wrapper-sidemenu
        {
            left: -@menuSideSize;
        }
    }
    body.gf-sidemenu-size-marginleft
    {
        left: 0;
    }
}
/* End: Mobile sidemenu */
