/* @version   $Id: style.less 9769 2013-04-26 17:40:14Z kevin $
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2013 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */
.rt-block.ct-scroll-scale{
  -ms-transform: scale(0.75); /* IE 9 */
  -webkit-transform: scale(0.75); /* Chrome, Safari, Opera */
  transform: scale(0.75);  
}

.rt-block.ct-scroll-leftin{
    position: relative;
    left: -25%;
}

.rt-block.ct-scroll-rightin{
    position: relative;
    right: -25%;
}

.rt-block.ct-scroll-bottomin{
    position: relative;
    bottom: -150px;
}

.rt-block.ct-scroll-opacity{
    .opacity(0);
}

.ct-module-theme1{
    h1,h2,h3,h4,h5,h6,.title{
        color: @modulethemetitlecolor1;
    }
    
    background-color: @modulethemebackgroundcolor1;
    color: @modulethemefontcolor1;
    
    a
    {
	color: @modulethemelinkcolor1;    
    }

    a:hover
    {
	color: @modulethemelinkcolorhover1;
    } 
}

.ct-module-theme2{
    h1,h2,h3,h4,h5,h6,.title{
        color: @modulethemetitlecolor2;
    }
    
    background-color: @modulethemebackgroundcolor2;
    color: @modulethemefontcolor2;
    
    a
    {
	color: @modulethemelinkcolor2;    
    }

    a:hover
    {
	color: @modulethemelinkcolorhover2;
    } 
}

.ct-module-theme3{
    h1,h2,h3,h4,h5,h6,.title{
        color: @modulethemetitlecolor3;
    }
    background-color: @modulethemebackgroundcolor3;
    color: @modulethemefontcolor3;
    
    a
    {
	color: @modulethemelinkcolor3;    
    }

    a:hover
    {
	color: @modulethemelinkcolorhover3;
    } 
}

#rt-header .ct-dropdown-holder{
    
    .modules
    {
        background-color: @firstColor;
        .border-radius(4px);
        padding: 10px !important;
        color: @bodytext;
    }
}

#system-message{
    margin-left: 20px;
    margin-right: 20px;
}
.alert-heading{
    margin-bottom: 5px !important;
}
// slider specials

.flex-direction-nav li .prev {
    background: url('../images/slider_prev.png') no-repeat center;
}

.flex-direction-nav li .next {
    background: url('../images/slider_next.png') no-repeat center;
}

.flex-direction-nav li .prev {
    left: 14px !important;
    .border-radius(0);
}

.flex-direction-nav li .next {
    right: 10px !important;
    .border-radius(0);
    background-position: 12px !important;
}

@media (max-width: 1224px)
{
    .flex-containerflexslide:after {
        margin-bottom: 0;
    }
    ol.flex-control-nav {
        bottom: 5px !important;
    }
}

.flexslider img {
    .border-radius(0 !important);
}

.flex-control-nav {
    bottom: 10px !important;
    z-index: 1 !important;
}

.flex-control-nav li a {
    background: @buttonbackgroundcoloralternate !important;
    -pie-background: linear-gradient(top, @buttonbackgroundcoloralternate 0%,darken( @buttonbackgroundcoloralternate , 5%) 100%) !important;
    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.7), 0px 1px 2px 0px rgba(0, 0, 0, 0.5) !important;
    box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.7), 0px 1px 2px 0px rgba(0, 0, 0, 0.5) !important;
    
}

.flex-control-nav li a.active, .flex-control-nav li a:hover {
    background: @buttonbackgroundcoloralternate !important;
    background: -moz-linear-gradient(top, @buttonbackgroundcoloralternate 0%, darken( @buttonbackgroundcoloralternate , 5%) 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@buttonbackgroundcoloralternate), color-stop(100%,darken( @buttonbackgroundcoloralternate , 5%))) !important;
    background: -webkit-linear-gradient(top, @buttonbackgroundcoloralternate 0%,darken( @buttonbackgroundcoloralternate , 5%) 100%) !important;
    background: -o-linear-gradient(top, @buttonbackgroundcoloralternate 0%,darken( @buttonbackgroundcoloralternate , 5%) 100%) !important;
    background: -ms-linear-gradient(top, @buttonbackgroundcoloralternate 0%,darken( @buttonbackgroundcoloralternate , 5%) 100%) !important;
    background: linear-gradient(top, @buttonbackgroundcoloralternate 0%,darken( @buttonbackgroundcoloralternate , 5%) 100%) !important;
    .box-shadow(inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5) !important);
}

.flex-control-nav li a {
    height: 30px !important;
    width: 30px !important;
    .border-radius(0 !important);
}

@media (max-width: 767px)
{
    .flex-control-nav li a {
        height: 15px !important;
        width: 15px !important;
    }
}

.flex-caption-text {
    margin-left: 1% !important;
    .border-radius(0 !important);
}

.flex-caption {
    background: grey;
    background: rgba(0,0,0,0.5) !important;
    color: @showcasetextslider !important;
    display: block !important;
    position: absolute !important;
    width: 50% !important;
    max-width: none !important;
    line-height: 1em !important;
    bottom: inherit !important;
    .border-radius(0 !important);
    top: 10% !important;
    left: 10% !important;
    overflow: hidden !important;
    text-shadow: none !important;
    font-size: 20px;
    p, div, span{
        line-height: 1.1em !important;
    }
    h1,h2,h3,h4,h5,h6,.title{
        font-size: 50px;
        line-height: 50px;
        color: @showcasetextslider !important;
    }
    
}

@media (max-width: 1224px)
{
    .flex-caption {
        font-size: 14px !important;
        h1,h2,h3,h4,h5,h6,.title{
            font-size: 25px;
            line-height: 25px;
        }
    }
}

@media (max-width: 767px)
{
    .flex-direction-nav{
        display: none;
    }
    .flex-caption, .flex-caption-text{
        display: none !important;
    }
}

body
{
    color: @bodytext;
    background-color: @bodybackground;
}

#ct-body{
    width: 100%;
}

.margin_top10px
{
    margin-top: 10px;
}

.margin_top20px
{
    margin-top: 20px;
}

.margin_top30px
{
    margin-top: 30px;
}

.margin_top60px
{
    margin-top: 60px;
}

a:hover
{
    color: @linkcolorhover;
}

h1, h2, h3, h4, h5, h6
{
    color: @bodytitle;
    text-shadow: @titleshadow;
    text-transform: uppercase;
}

.title, .component-content h2
{
    text-shadow: @titleshadow;
}

a, ul.menu li .separator 
{
    color: @linkcolor;        
}



@media (max-width: 767px)
{
 
}

.rt-block{
    margin-left: 0px;
    margin-right: 0;
    
}


.rt-omega > .rt-block{
    margin-left: 0px;
    margin-right: 0px;
}

.rt-alpha.rt-omega > .rt-block{
    margin-left: 0px;
    margin-right: 0px;
}

[id^="rt-sidebar"] .rt-block{
    margin-left: 0;
    margin-right: 24px;
    border-left: 1px solid @sidebarbordercolor;
}

@media (max-width: 767px)
{
    .rt-block{
        margin-left: 0;
        margin-right: 0;
        margin-top: 5px;
        padding-top: 5px;
        margin-bottom: 5px;
        padding-bottom: 5px;
    }

    .rt-omega > .rt-block{
        margin-left: 0;
        margin-right: 0;
    }

    .rt-alpha.rt-omega > .rt-block{
        margin-left: 0;
        margin-right: 0;
    }

    [id^="rt-sidebar"] .rt-block{
        margin-left: 0;
        margin-right: 0;
        border-left: none;
    }
}

#ct-responsive-type-selectbox{
    div{
        height: auto !important;
    }
}

#rt-feature, #rt-utility, #rt-maintop, #rt-mainbottom, #rt-extension, #rt-bottom, #rt-footer, #rt-content-top, #rt-content-bottom, #rt-extraextension, #rt-extrabottom {
    .rt-grid-12, .rt-grid6 {
        h1:nth-of-type(1), h2:nth-of-type(1), h3:nth-of-type(1), h4:nth-of-type(1), h5:nth-of-type(1), h6:nth-of-type(1), .title:nth-of-type(1){
            text-align: center;
        }
        text-align: center;
        .ct-align-left{
            h1:nth-of-type(1), h2:nth-of-type(1), h3:nth-of-type(1), h4:nth-of-type(1), h5:nth-of-type(1), h6:nth-of-type(1), .title:nth-of-type(1){
                text-align: left;
            }
            text-align: left;
        }
        .ct-align-center{
            h1:nth-of-type(1), h2:nth-of-type(1), h3:nth-of-type(1), h4:nth-of-type(1), h5:nth-of-type(1), h6:nth-of-type(1), .title:nth-of-type(1){
                text-align: center;
            }
            text-align: center;
        }
    }
}

.ct-align-left{
    h1:nth-of-type(1), h2:nth-of-type(1), h3:nth-of-type(1), h4:nth-of-type(1), h5:nth-of-type(1), h6:nth-of-type(1), .title:nth-of-type(1){
        text-align: left;
    }
    text-align: left;
}

.ct-align-center{
    h1:nth-of-type(1), h2:nth-of-type(1), h3:nth-of-type(1), h4:nth-of-type(1), h5:nth-of-type(1), h6:nth-of-type(1), .title:nth-of-type(1){
        text-align: center;
    }
    text-align: center;
}

// FEATURE STYLES

#rt-feature > .rt-container .rt-block > .module-surround
{
    min-height: @featureModuleHeight;
}

@media (max-width: 767px)
{
    #rt-feature > .rt-container .rt-block > .module-surround
    {
        min-height: 10px;
    }
}
 
#rt-extrabottom{
    background: url(../images/group.jpg);
    
    background-color: @extrabottomBackgroundColor;
    color: @extrabottomTextColor;
    text-shadow: none;
    h1,h2,h3,h4,h5,h6,.title
    {
        color: @extrabottomTitlesColor;
        text-shadow: none;
    }
    .border-radius(0px 0px 2px 2px);
}

#rt-extrabottom
{

    a, ul.menu li .separator
    {
	color: @extrabottomlinkcolor;
    }

    a:hover
    {
	color: @extrabottomlinkcolorhover;
    }
}

// BREADCRUMB STYLES

#rt-breadcrumbs{
    background: @breadcrumbBackgroundColor;
    width:100%;
    
    h1,h2,h3,h4,h5,h6
    {
        color:@breadcrumbTitle;
    }
    
    .border-radius(0);
}

#rt-breadcrumbs [class^="rt-grid"]{
    
    .rt-block{
        padding: 0;
    }
    
    li
    {
        text-shadow: none;
    }
}
 
.breadcrumb
{
    text-shadow: none;
    background: transparent;
}

#rt-utility, #rt-feature, #rt-maintop, #rt-drawer, #rt-extrabottom, #rt-mainbottom, #rt-extraextension
{    
    background-color: @firstColor;   
}

@media (max-width: 767px)
{
    #rt-breadcrumbs .breadcrumb, #rt-breadcrumbs [class^="breadcrumb"]
    {
        margin-left: 0;
        margin-top: 9px;
    }
}

#rt-bottom > .rt-container .rt-block > .module-surround .module-content
{
    min-height: @bottomModuleHeight;  
}

@media (max-width: 767px)
{
    #rt-bottom > .rt-container .rt-block > .module-surround .module-content
    {
        min-height: 10px;
    }
}

// BOTTOM END

#rt-copyright
{  
   
    background-color: @copyrightBackgroundColor;
    color: @copyrightTextColor;
    text-shadow: none;
    h1,h2,h3,h4,h5,h6,.title
    {
        color: @copyrightTitlesColor;
        text-shadow: none;
    }
    .border-radius(0px 0px 2px 2px);
}

// COPYRIGHT BUTTON OVERRIDES
#rt-copyright
{

    a, ul.menu li .separator
    {
	color: @copyrightlinkcolor;
    }

    a:hover
    {
	color: @copyrightlinkcolorhover;
    }
}

@media (max-width: 1224px)
{
    #rt-copyright
    {  
        .border-radius(0);
    }
}

#rt-footer > .rt-container .rt-block > .module-surround .module-content
{
    min-height: @footerModuleHeight;
    
}

@media (max-width: 767px)
{
    #rt-footer > .rt-container .rt-block > .module-surround .module-content
    {
        min-height: 10px;
    }
}


// Module Overrides
// Menu Modules
ul.menu
{
    li.active.current, li#current.active
    {
        > a, > .item, > .separator
        {
            color: @bodytitle;
        }
    }
}

// Branding
.powered-by
{
    background: url(../images/logo/powered.png) 0 0 no-repeat;
    background-size: 100% auto;
}

// Typography
.pagenav
{
    li
    {
        background: @bodybackground2;
        border: 1px solid @bodyborder;
        .box-shadow(none);
    }
}

.pagination
{
    ul
    {
        li
        {
            a
            {
                border: 1px solid @bodyborder;
                text-shadow: none;
            }
            span
            {
                background: @bodybackground4;
                border: 1px solid @bodyborder;
                color: @bodytextlight;
            }
        }
    }
}
.breadcrumbs, .breadcrumb
{
    .showHere
    {
        font-weight: lighter;
        margin-right: 5px;
    }
   
}
.article-info
{
    &.muted
    {
        color: inherit;
    }
    dd:before
    {
        text-shadow: none;
    }
}

// Extras
#gantry-totop
{
    background: @bodybackground2;
    border: 1px solid @bodyborder;
    .box-shadow(inset 0 0 0 1px @white, 0 1px 2px rgba(0,0,0,0.2));
    &:active
    {
        .box-shadow(0 1px 0 @bodycontrast);
    }
}
.tip-wrap
{
    background: @bodycontrast;
    .box-shadow(none);
    color: @bodytext;
}
.system-unpublished .system-unpublished
{
    background: @bodycontrast;
    border-color: @bodyborder;
}

// Typography
.tags .label-info
{
    background: darken(@linkcolor, 10%);
}

// Abbreviations and acronyms
abbr[title]
{
    border-bottom: 1px dotted @bodyborder;
}

// Blockquotes
blockquote
{
    border-left: 5px solid @bodyborder;
    small
    {
        color: @bodytextlight;
    }

    &.pull-right
    {
        border-right: 5px solid @bodyborder;
    }
}

// Help Text
.help-block,
.help-inline
{
    color: @gray;
}

// Extras
.table-bordered th
{
    background-color: @bodybackground2;
}
.well
{
    background-color: transparent;
    border: none;
    .box-shadow(none);
}

.nav-tabs.nav-stacked > li > a
{
    border: 0;
    background-color: @bodybackground2;
    &:hover
    {
        background-color: @bodybackground4;
    }
}

.list-striped, .row-striped
{
    border: 0;
}

.list-striped li, .list-striped dd, .row-striped .row, .row-striped .row-fluid
{
    border: 0;
}

.list-striped li:nth-child(odd),
.list-striped dd:nth-child(odd),
.row-striped .row:nth-child(odd),
.row-striped .row-fluid:nth-child(odd),
.cat-list-row0
{
    background-color: @bodybackground4;
}

.list-striped li:hover,
.list-striped dd:hover,
.row-striped .row:hover,
.row-striped .row-fluid:hover,
.cat-list-row0:hover, .cat-list-row1:hover
{
    background-color: @bodybackground3;
}

.alert
{
    text-shadow: none;
}

.filter-search.alert-info
{
    background-color: transparent;
    border-color: transparent;
    color: inherit;
}

// Notice Styles
p
{
    &.success, &.info, &.error, &.warning
    {
        padding: 15px;
        font-weight: bold;
        border: 1px solid;
        a
        {
            color: #666 !important;
            &:hover
            {
                color: #000 !important;
                text-shadow: none;
            }
        }			
    }
    &.success
    {
        background: @successBackground;
        border-color: @successBorder;
        color: @successText;
    }
    &.info
    {
        background: @infoBackground;
        border-color: @infoBorder;
        color: @infoText;
    }
    &.error
    {
        background: @errorBackground;
        border-color: @errorBorder;
        color: @errorText;
    }
    &.warning
    {
        background: @warningBackground;
        border-color: @warningBorder;
        color: @warningText;
    }
}
