/**
 * @version   $Id: template.less 5229 2012-11-16 17:12:08Z kevin $
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2013 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */
body {
    line-height: 1.5em;
    -webkit-font-smoothing: antialiased;
}

h1
{
    line-height: 30px;
}

h3,h4,h5,h6
{
    line-height: 15px;
}

h2
{
    line-height: 25px;
}

p{
    line-height: 1.5em;
}

h1 {
	font-size: 200%;
}
h2 {
	font-size: 190%;
}
h3 {
	font-size: 160%;
}
h4 {
	font-size: 140%;
}
h5 {
	font-size: 120%;
}

@-ms-viewport
{
    width: device-width;
}

// Core
a
{	
}
#rt-transition.rt-hidden
{
    opacity: 0;
}
#rt-transition.rt-visible
{
    opacity: 1;
    .transition(opacity 0.s ease-in);    
}

// Logo
.logo-block
{
    padding: 0 15px;
    margin: 7px 10px;
}
#rt-logo
{
    display: block;
}
#rt-logo-small
{
    display: block;
}

// Header
#rt-top-surround
{
    position: relative;
}
#rt-top-surround:after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

#ct-menu-surround .gf-menu
{
    padding-bottom: 15px;    
}

#rt-header, #rt-top
{
    z-index: 2;
    position: relative;
}

// Navigation
.menu-block
{
    padding: 0;
    margin: 0;
}
.rt-menu-mobile
{
    text-align: center;
    padding: 0 0 15px 0;
}

// Main
#rt-maintop
{
    padding-top: 20px;    
}

// Modules
.title, .component-content h2
{
    letter-spacing: normal;
    margin-top: 0;
}
#ct-menu-surround, #rt-top-surround, #rt-showcase
{
    .title
    {
        border: none;
        .box-shadow(none);
    }
}

// Menu Module
ul.menu
{
    list-style: none;
    margin: 0;
    padding: 0;
        
    ul
    {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li
    {
        font-size: 14px;
        
        a:hover
        {
            background-color: transparent;
            color: @linkcolorhover;
        }
        
        a, .item, .separator
        {
            display: block;
            padding-bottom: 3px;
            margin-bottom: 3px;
            
        }
        a:before, .item:before, .separator:before
        {
            content: "\f0a9";
            font-family: FontAwesome;
            margin-right: 10px;
            font-size: 14px;
            display: inline;
            vertical-align: middle;
            color: @buttonbackgroundcoloralternate;
        }
    }
    li.active.current, li#current.active, li.current
    {
         > a {
            color: @linkcolorhover;
        }
    }
    ul.small
    {
        font-size: 14px;
    }
}

// Buttons and Inputs
.button, .readon, .readmore, button.validate, #member-profile a, #member-registration a, .formelm-buttons button
{
    display: inline-block;
    padding: 5px 10px 5px 10px;
    border: none;
    background-image: none;
}

// Resetting Bootstrap Buttons


.input-append .btn:last-child, 
.input-append .btn:first-child,
.input-prepend .btn:first-child,
.form-search .input-prepend .btn
{
    .border-radius(0);
    text-shadow: none;
    background-image: none;
    border: none;
    padding: 5px 10px 5px 10px;
}

.input-prepend.input-append .add-on:first-child, .input-prepend.input-append .btn:first-child,
.input-prepend .add-on:first-child, .input-prepend .btn:first-child,
.input-prepend.input-append .add-on:last-child, 
.input-prepend.input-append .btn:last-child,
.input-append .add-on:last-child, 
prepend .add-on:first-child,
.input-append .add-on:first-child
{
    .border-radius(0);
    text-shadow: none;
}

// Extras
.promo-image
{
    float: left;
    margin: -10px 10px -30px -40px;
    width: 30%;
    img
    {
        max-width: 100%;
    }
}
.promo-desc
{
    padding-top: 10px;
}
.promo
{
    h1
    {
        position: relative;
        font-size: 3.9em;
        line-height: 1.2em;
    }
    p
    {
        font-size: 1.5em;
        line-height: 1.7em;
    }
    .readon
    {
        margin-top: 10px;
    }
}

.gantry-example
{
    position: relative;
    margin: 15px 0;
    padding: 39px 19px 14px;
    *padding-top: 19px;
    background-color: @white;
    border: 1px solid #dddddd;
    .border-radius(4px);
    .table, .well, blockquote
    {
        margin-bottom: 5px;
    }
    .lead
    {
        font-size: 18px;
        line-height: 24px;
    }
    > p:last-child
    {
        margin-bottom: 0;
    }
    + .prettyprint
    {
        margin-top: -20px;
        padding-top: 15px;
    }
}
.gantry-example:after
{
    content: "Example";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #f5f5f5;
    border: 1px solid #dddddd;
    color: #9da0a4;
    .border-radius(4px 0 4px 0);
    font-style: normal;
}
form.gantry-example
{
    padding-bottom: 19px;
}

// Images
.gantry-img img, img.gantry-img
{
    max-width: 100%;
    height: auto;
}

// Branding
.powered-by
{
    display: block;
    width: 120px;
    height: 32px;
    margin: 0 auto;
    opacity: 0.8;
    .transition(opacity 0.2s ease-in);
    &:hover
    {
        opacity: 1;
    }
}

// Features
#gantry-totop
{
    display: inline-block;
    padding: 4px 10px;
    .border-radius(3px);
}
#rt-accessibility
{
    .rt-desc
    {
        float: left;
        margin-right: 8px;
        font-weight: bold;
    }
    #rt-buttons
    {
        .button
        {
            line-height: 1em;
            padding: 0;
            width: 14px;
            height: 14px;
            text-align: center;
        }
        .small
        {
            font-size: inherit;
        }
        .small .button:after
        {
            content: '-';
        }
        .large .button:after
        {
            content: '+';
        }
    }
}