/*
 * Overrides CSS
 */

/*mic changes*/

hr {
    margin: 20px 0px 0px 0px;

}

h4 {
    color: #6164ab;
  font-size:20px;
  font-weight: normal;
}

div.clear-right div.moduletable.ipl_anmeldung {
   padding: 10px 30px 10px;
/*    width: 60%;
    float: right;*/
  border: solid 1px #f2f2f2;
}

.page-header.item-title {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

p {
    margin: 0 0 10px;
}

body.site main#content p {
    font-size: 15px;
   
    line-height: 22px;
}

body.site div.item-page:not(body.itemid-150 div.item-page) {
    width: 93%;
  margin-top: 5px;
}
body.site div.item-page h1 {
    font-size: 28px;
  line-height: 26px;
  margin-bottom: 15px;
  
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}

.category-desc {
    margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 10px;
}

.blog {
    width: 93%;
  margin-top: 0px;
 
}

.page-header {
    margin: 2px 0px 20px 0px;
    
}

div.page-header {
    margin: 2px 0px 20px 0px;
}

.readmore {
    padding-top: 10px;
}

div.blog .item {
  
    border-bottom: solid 1px #eee;
}

.itemid-112 .item-page h2, div.blog div.page-header h2, .item-page h3 {
   
    background: #f7f7f7;

}

.custom {
    margin-top: 4px;
  font-family: "Open Sans", sans-serif;
    letter-spacing: 0.5px;
 

}


.breadcrumb {
    background-color: #fff;
    float: right;
    margin: 30px 0px 0 0;
}

a {
    color: #6164ab;
    
}

/*content allg*/
.container-fluid.referenzen div {
  margin-bottom: 15px;
}


body.site div.item-page {
    color: #535353;
}

body.site .nav>li>a:hover,
body.site .nav>li>a:focus {
    text-decoration: none;
    background-color: transparent;
}

body a {
  transition: all 0.3s ease-in-out;
}

body a:hover {
    color: #6164ab;
}

.corp_color {
  color: #6164ab;
}



.item-page h2,
div.blog div.page-header h2,
.item-page h3 {
    color: #6164ab;
}

.pull-left.item-image {
    padding: 5px 20px 0px 0;
}

div.page-header h1,
div.item-page h1 {
    color: #6164ab;
    font-weight: 400;
    text-transform: uppercase;
}

body.site div.item-page h1 {
    margin-bottom: 10px;
}

/*body.site.itemid-128 .page-header {
    display: none;
}*/

main#content h2,
div.blog div.page-header h2 {
    font-weight: 400;
    line-height: 30px;
    margin: 0 0 10px;
}

div.blog .item {
    margin-bottom: 30px;
    padding-bottom: 10px;
}

.page-header {
    border-bottom: none;
}

main#content h3 {
    font-weight: 400;
}

main#content {
    margin-left: 0px;
}

main#content p {
    line-height: 23px;
    font-size: 15px;
}

ul.ipl-list {
    /*list-style-image: url('/images/content/list-img.png');*/
    list-style-type: none;
}

ul.ipl-list li {
  color: #777;
    margin: 0 0 20px;
    background: url('/images/content/list-img.png') no-repeat left top;
    padding: 0 0 0 30px;
    font-size: 15px;
}


ul.ipl-list li:last-child {
    margin: 0 0 40px;
}

ul.ipl-list li span {
    color: #777;
}

section#inner-wrapper {
  max-width: 1190px;
  margin: 0 auto;
}

section#menu-section {
    margin: 0 0 50px;
    display: inline-block;
    position: relative;
    width: 100%;    
}

nav.navbar-wrapper.span8 {
    position: absolute;
    bottom: -12px;
    right: 0;
}

div.navbar-inner {
  background-color: #6164ab;
  background-image: none;
}

body.site .navbar-inner {
    box-shadow: 0px 4px 10px -3px #000000;
}

body.site .site_wrapper {
  padding: 0px;
  background-color: #fff;
}

.header-wrapper {
  max-height: 58px;
  background-color: #f7f7f7;
  box-shadow: 0px 5px 21px -8px #C1C1C1;
  margin: 0 0 20px;
}

.header-wrapper a {
  color: #818181;
}

div.top-menue ul.nav.menu li {
  display: inline-block;
  padding: 10px 11px;
  letter-spacing: 1.5px;
  font-weight: 300;  
}

.itemid-120 div[itemprop="articleBody"] img {
    padding: 20px 0px 10px 0px;
    width: 150px;
}

body.site a.btn:not(.dropdown-toggle) {
    background-color: #BDBFE4;
    color: #fff;
    text-shadow: 1px 1px 5px #808080;
    background-image: none;
    transition: all 0.3s ease-in-out;
}

body.site a.btn:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #BDBFE4;
    text-shadow: none;
}

/*slider*/


.clear-phone-logo.span4 {
      margin: 0 0 0 45px;
  }

.camera_caption {
    right: 0;
}

body.site .camera_caption {
    color: #000;
    text-transform: uppercase;
    bottom: 55px;
}

body.site .camera_caption.fadeIn h2 {
    font-size: 26px;
    font-weight: 400;
}

body.site .camera_pag {
    position: absolute;
    bottom: 0px;
    left: 50%;
}

body.site .camera_caption > div {
    padding: 7.5px 40px;
}

body.site .camera_wrap .camera_pag .camera_pag_ul li {
    background: #fff;
    border-radius: 0px;
}

body.site .camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span {
    background: #979add;
}

body.site .camera_wrap .camera_pag .camera_pag_ul li > span {
    border-radius: 0px;
    height: 14px;
    left: 0;
    top: 0;
    width: 14px;
    border: 1px solid #A7A7A7;
}

/*Breadcrumb*/

ol.breadcrumb {
  padding: 8px 3px 0px 15px;
    /* padding: 8px 15px 8px 5px;*/
   /* box-shadow: 0px 10px 10px -13px #585858;*/
}

ol.breadcrumb a.pathway {
    color: #6164AB;
}

/*Sidebar*/
div.clear-right .moduletable {
    margin: 30px 0 30px;
}

div.moduletable h3 {
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
  color: #fb8537;
    
}

div.clear-right div.moduletable.ipl_mag_banner {
    padding: 10px 30px 10px;    
}

div.clear-right div.moduletable.aktuelles {
    padding: 10px 30px 30px;    
  letter-spacing: 0.5px;
}

div.clear-right div.moduletable.k-e-i-sidebar {
    padding: 0px 0px 10px;    
}

.moduletable.aktuelles {
   border: solid 1px #f2f2f2;
}

.moduletable.aktuelles h3 {
   border-bottom: solid 1px #f2f2f2;
}

div.IPLsidebar .moduletable:not(.k-e-i-sidebar),
.IPLshadow {
    box-shadow: 0px 10px 15px -8px #a2a2a2;
}

.moduletable.ipl_mag_banner {
    border: 1px solid #e2e2e2;
    /*box-shadow: 0px 10px 15px -8px #a2a2a2;*/
}

body.site .k-e-i h2 {
      font-size: 60px;
  }

body.site div.moduletable div.k-e-i h3 {
    font-size: 20px;
    color: #6164AB;
    text-decoration: inherit;
    text-align: right;
    padding-right: 15px;
    letter-spacing: 8.5px;
    line-height: 15px;
    font-weight: 400;
}

body.site div.moduletable div.k-e-i h3:last-child {     
    letter-spacing: 5px;
}

.ipl-banner >div {
    margin: 0 0 20px;
}

body.site div.moduletable div.ipl-banner h3 {
    font-size: 20px;
    font-weight: 400;
    color: #6164AB;
    text-decoration: initial;
    background: rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
}

.ipl-banner h4 {
    color: #6164AB;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 15px;
    letter-spacing: 10px;
    text-align: right;
    margin-right: 12px;
}

.ipl-visual-tech {
    padding-bottom: 10px;
}

div.ipl-banner {
    box-shadow: 0px 10px 15px -8px #a2a2a2;
}

.k-e-i h2 {
    color: #6164AB;
    font-weight: 300;
    font-size: 65px;
    margin-left: 11px;
}

.k-e-i h2 span.prinzip {
    font-size: 18px;
    letter-spacing: 8px;
    text-transform: uppercase;
    text-shadow: none;
}

h2.k-e-i-header span {
    padding: 0 0 0 10px;
    text-shadow: 0px 5px 4px #CACACA;
}

h2.k-e-i-header span:last-child {
    padding: 0px 0 0 13px;
    margin-left: 10px;
}

/*footer*/

.copyright {
    margin-bottom: 5px;
    color: #777;
}

/*Resp overrides*/
@media (min-width: 1280px) {
  
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
      width: 1280px;
  }
}

/*scrollToTop*/
.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
    background-color: #6164AB;
    color: #eeeeee;
    width: 50px;
    height: 48px;
    line-height: 48px;
    right: 3%;
    bottom: 10%;
    padding-top: 2px;
    border-radius: 5px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
  background-color: #888888;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
    opacity: 1.0;
}
.scroll-top-wrapper i.fa {
  line-height: inherit;
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(../fonts/glyphicons-halflings-regular.eot);
    src: url(../fonts/glyphicons-halflings-regular.eot?#iefix) format("embedded-opentype"), url(../fonts/glyphicons-halflings-regular.woff) format("woff"), url(../fonts/glyphicons-halflings-regular.ttf) format("truetype"), url(../fonts/glyphicons-halflings-regular.svg#) format("svg")
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.glyphicon-chevron-up:before {
    content: "\e113"
}


 /*Menue*/

body.site .mm-listview .mm-next.mm-fullsubopen {
    width: 40%;
}

div#module_88.main-menu {
    padding: 25px 0px 0px 0px;
    margin-left: 60px;
}

section#menu-section .navbar .nav>.active>a,
section#menu-section .navbar .nav>.active>a:hover,
section#menu-section .navbar .nav>.active>a:focus {
  color: #FFF;
  text-decoration: none;
  background-color: transparent;
   -webkit-box-shadow: none; 
  -moz-box-shadow: none;
   box-shadow: none; 
}

body.site .navbar .nav li a,
div#module_1 ul.nav-child li a {
    text-transform: uppercase;
    letter-spacing: 0.6px;
    font-weight: 400;
    letter-spacing: 0.3px;
}

div#module_1 li.current>a {
    color: #6164AB;
    font-weight: 500;
}

body.Firefox.windows div#module_1 li.current a {
    color: #6164AB;
    font-weight: 400;
}

body.site .navbar .nav>li>a {
    float: none;
    padding: 10px 0px 10px;
    color: #b8b8cb;
    text-decoration: none;
    text-shadow: none; 
  font-family: "arial";
}

/*li.current.active >a span {
    border-top: 2px solid #fff;
    padding-top: 5px;
}*/

.navbar .nav > li {
  display: inline-block;
}

.navbar .nav li.dropdown>.dropdown-toggle .caret,
.navbar .nav li.dropdown.open>.dropdown-toggle .caret,
.navbar .nav li.dropdown.active>.dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active>.dropdown-toggle .caret {
    border-top-color: #FFF;
    border-bottom-color: #FFF;
}


      .menu--shylock .menu__link {
        position: relative;
        margin: 0 16.5px;
        padding-right: 0;
        padding-left: 0;
        color: #b5b5b5;
        -webkit-transition: color 0.4s;
        transition: color 0.4s;
      }

      .menu--shylock .menu__item--current .menu__link,
      .menu--shylock .menu__item--current .menu__link:hover,
      .menu--shylock .menu__item--current .menu__link:focus {
        color: #d94f5c;
      }

      .menu--shylock .menu__item--current .menu__link span::after,
      .menu--shylock .menu__item--current .menu__link span::before {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }

      .menu--shylock .menu__item--current .menu__link span::before {
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
      }

      .menu--shylock .menu__link:hover,
      .menu--shylock .menu__link:focus {
        color: #b5b5b5;
      }

      .menu--shylock .menu__link:hover span::before,
      .menu--shylock .menu__link:focus span::before {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
      }

      .menu--shylock .menu__link span::before,
      .menu--shylock .menu__link span::after {
        content: '';
        position: absolute;
        top: 3px;
        left: 0;
        width: 100%;
        height: 2px;
        -webkit-transform: scale3d(0, 1, 1);
        transform: scale3d(0, 1, 1);
        -webkit-transform-origin: center left;
        transform-origin: center left;
        -webkit-transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
        transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
      }

      .menu--shylock .menu__link span::before {
        background: #b5b5b5;
        -webkit-transition-delay: 0.4s;
        transition-delay: 0.4s;
      }

      .menu--shylock .menu__link span::after {
        background: #fff;
      }



/*default:*/
 /* Activates hovering the main items to show the sub items */
@media (min-width: 768px) {
   .nav-pills > li > a,
   .dropdown-menu {
      margin: 0;
   }
 
   .nav-pills > li.dropdown:hover ul.dropdown-menu,
   .nav-tabs > li.dropdown:hover ul.dropdown-menu {
      display: block;
   }
 
   .nav-pills > li.dropdown ul.dropdown-menu .dropdown-submenu .dropdown-menu,
   .nav-tabs > li.dropdown ul.dropdown-menu .dropdown-submenu .dropdown-menu {
      display: none;
   }
 
   .nav-pills > li.dropdown ul.dropdown-menu .dropdown-submenu:hover .dropdown-menu,
   .nav-tabs > li.dropdown ul.dropdown-menu .dropdown-submenu:hover .dropdown-menu {
      display: block;
   }
}

/* Submenus below each other */
@media (max-width: 733px) {
   .dropdown,
   .dropdown-submenu {
      display: block;
      position: static;
      float: none;
   }
   .dropdown-menu {
      position: static;
      float: none;
   }
   .open .nav-child.dropdown-menu {
      display: block;
      background-color: transparent;
      border: none;
      border-radius: 0;
      box-shadow:none;
   }
}

body.site ul.nav-child.dropdown-menu {
    border: 1px solid #e2e2e2;
}

body.site .dropdown-menu  {
    padding: 0;
}

.dropdown-menu>li>a {
    padding: 10px;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-submenu:hover>a,
.dropdown-submenu:focus>a,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #BDBFE4;
    background-image: none;
    padding: 12px;
}

/*DOCman*/

/*body.site .docman_list__sidebar {
    display: none;
}*/


/*
 * tmpl-Standards
 */

.site-title {
  font-size: 32px;
  font-weight: bold;
  color: #333;
}

.header {
  padding: 0;
}

.container {
  padding: 20px 0px;
}

.clear-bottom {
  border: none;
  color: #cfd0d0;
}


.clear-footer {
  border: none;
  color: #cfd0d0;
}

.navbar .navbar-inner {
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
    padding: 0;
}

.navbar-wrapper .container {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar {
    margin: 0 0 5px 0;
    padding: 0;
    position: relative;
    z-index: 999;
}

/*cookie control*/
body#body #cookiesck .cookiesck_inner a {
    color: #fff;
    text-decoration: underline;
    font-size: 16px;
}
  body#body #cookiesck_accept {
      background: #6063af;
      float: none;
      width: 100px;
      margin: 20px auto 0px !important;
      border: 1px solid #fff;
  }
body#body #cookiesck_readmore {
    margin: 1px 0px 1px 1px;
    color: #fff;
    float: none;
    text-decoration: underline;
    text-shadow: 0px 3px 5px #525252;
    padding: 10px 10px 10px 0px;
}
body#body #cookiesck {
    padding: 5px 10px 5px;
    font-size: 16px;
}
body#body #cookiesck .cookiesck_inner {
    display: initial;
    line-height: 20px;
    text-shadow: 0px 3px 5px #525252;
}
body#body #cookiesck_accept:hover {
    font-size: initial;
    background: #fff;
    color: #234da0;
}
@media(max-width: 1280px) {
  body#body.mobile div#cookiesck span {
      font-size: 14px;
  }
  body#body.phone #cookiesck_readmore {
      padding: 10px 10px 10px 0;
  }
  body#body.phone #cookiesck_accept {
      float: none;
      margin: 10px auto !important;
  }
  body#body.phone #cookiesck {
      text-align: left;
      line-height: 25px;
  }
}
@media(max-width: 1279px) and (orientation: portrait) {
/*  body.mobile #cookiesck {
      bottom: 20vh;
  }*/
}