/*
 * Responsive CSS 089-Webdesign
 */

@media(width: 320px) and (orientation: portrait){

	body.site .clear-phone-logo-mobile.span12 img {
	    width: 30%;
	}
}

@media(width: 480px) {
	
}

@media(width: 600px) {

	body.site .span8.menue-top.offset1 {
	    margin-left: 18%;
	}	
}


@media(width: 640px) and (orientation: landscape) {

	body.site .koowa .docman_list__sidebar {
	    width: 100%;
	}
	body.site .koowa .docman_list__content {
	    width: 100%;
	}
}

@media(width: 667px) and (orientation: landscape) {

	body.site .koowa .docman_list__sidebar {
	    width: 100%;
	}
	body.site .koowa .docman_list__content {
	    width: 100%;
	}
}

@media(width: 736px) and (orientation: landscape) {

	body.site .koowa .docman_list__sidebar {
	    width: 100%;
	}
	body.site .koowa .docman_list__content {
	    width: 100%;
	}
}

@media(width: 768px) {

	body.site .span8.menue-top.offset1 {
	    margin-left: 13%;
	}
}

@media(width: 768px) and (orientation: portrait) {

	body.site .logo_slogan_bottom .span7 {
	    margin-right: 20px;
	}

	body.site img.imgLoaded {
	    height: 190px !important;
	}
}

@media(width: 800px) {
	
	body.site .span8.menue-top.offset1 {
	    margin-left: 11%;
	}
}

@media(width: 1024px) {
	
}

@media(max-width: 375px) {

	body.site .container-fluid.referenzen div.span4 img {
	    width: 60% !important;
	}
}

@media(max-width: 414px) and (orientation: portrait) {
	
	body.site #mm-blocker {
	    left: -14px;
	}
}

@media(min-width: 568px) and (orientation: landscape) {

	body.site .IPLhistrie {
	    margin-top: 120px;
	}
}

@media(max-width: 767px) {

	body.site .container-fluid.referenzen div div.span4 {
	    width: 33% !important;
	    display: inline;
	    float: left;
	}

	body.site .container-fluid.referenzen div div.span4 {
	  margin-bottom: 20px;
	}

	div.ipl-banner {
	    background: #F0F8FF;
	}

	body.site main#content h2 {
		background-color: #f7f7f7;
	}

	body.site main#content h2,
	body.site main#content h3,
	body.site main#content h4 {
		padding: 10px 10px;
	    position: relative;
	    left: 0;
	    line-height: 28px;
	}

	body.site main#content p {
		padding-left: 10px;
	}

	body.site h2.bottom_slogan {
		font-size: calc(24px + 16 *(100vw - 1200px) / 1200);
		margin: 0;
    	line-height: 25px;
	}

	body.site .clear-phone-logo-mobile.span12 img {
	    margin: 10px 10px 0 0;
	}

	body.site .clear-phone-logo-mobile.span12 h1,
	body.site .clear-phone-logo-mobile.span12 h2 {
	    text-transform: uppercase;
	    color: #cfd0d0;
	    line-height: 23px;
	    letter-spacing: 5px;
		font-size: 16px;
		margin-bottom: 0px;
	}

	body.site .clear-phone-logo-mobile.span12 a {
		color: #cfd0d0;
		font-weight: 200;
	}

	body.site .clear-phone-logo-mobile.span12 h1 span,
	body.site .clear-phone-logo-mobile.span12 h2 span {
	    letter-spacing: 5.5px;
	}

	/*Breadcrumb*/
	body.site ol.breadcrumb {
		font-size: 10px;
	}
}

@media(max-width: 767px) {

	body.itemid-119 .moduletable.ipl_mag_banner p {
	    font-size: 12px;
	}
	
	body.site nav#menu,
	body.site nav#menu a,
	body.site nav#menu li {
	    font-size: 14px;
	}

	body.site .mm-listview>li {
	    margin-bottom: 10px;
	}

	body.site nav#menu div.mm-navbar a.mm-title,
	body.site nav#menu div.mm-navbar-bottom a {
		font-size: 10px;
		text-transform: none;
	}

	.clear-phone-logo.span4 {
	    margin: 20px 0 0 0px;
	}

	a.logo.animsition-link img {
	    width: 15%;
	}

	.copyright p {
	    font-size: 11px;
	}
}

@media(min-width: 768px) and (max-width: 1280px) {

	#mobileToggle {
		display: block;
	}

	body.site nav#menu,
	body.site nav#menu a,
	body.site nav#menu li {
	    font-size: 14px;
	}

	body.site .mm-listview>li {
	    margin-bottom: 25px;
	}

	/*Breadcrumb*/
	body.site ol.breadcrumb {
		font-size: 12px;
	}
}


@media(min-width: 768px) {

	.clear-slider,
	.clear-slider-wrap {
	    max-height: 450px;
	}

	body.site .page-header h1 {
	    border-bottom: 5px solid #f7f7f7;
	    /*box-shadow: 0px 10px 10px -13px #585858;*/
	}

	div.clear-right .moduletable:last-child {
	    margin-bottom: 80px;
	}

	body.site main#content.span8 {
		margin-left: 0px;
	}

	div.ipl-banner {
    	background: url('/images/content/kei-prinzip-hg.jpg') top left no-repeat;
  	}

/*	body.site section#menu-section {
	    margin: 0 0 70px; 
	}*/

	body.site h2.bottom_slogan {
		font-size: calc(24px + 24 *(100vw - 1200px) / 1200);
	}
	
	main#content {
	  margin-bottom: 40px;
	}

	.IPLhistrie {
	    margin-top: 80px;
	}

	div#module_1 ul.nav.menu .caret {
	    border-top-color: #6164AB;
	    border-bottom-color: #6164AB;
	    vertical-align: baseline;
	}
}

@media(max-width: 768px) {
	
	body.site .custom.ipl_anmeldung img {
		max-width: 30px;
	}

	body.site main#content .custom.ipl_anmeldung {
		padding: 10px 20px;
	}

	body.site .custom.ipl_anmeldung p {
	    font-size: 12px;
	}
}

@media(min-width: 768px) and (max-width: 1200px) {

	body.site img.imgLoaded {
	    max-width: 96% !important;
	    margin-left: 20px !important;
	}

	body.itemid-119 .moduletable.ipl_mag_banner p {
	    font-size: 10px;
	}
/*
	body.itemid-119 .clear-right.IPLsidebar {
	    margin-top: 35px;
	}*/

	section#inner-wrapper .clear-container {
	    padding: 20px 20px 5px;
	}

	.mm-btn {
	    padding-left: 20px;
	}

	body.site .logo_slogan_bottom .span7 {
	    margin-left: 0px;
	    float: right;
	}
}

@media(max-width: 979px) {

	body.site nav.navbar-wrapper.span8 {
	    position: relative;	
	}
}

@media(max-width: 1024px) {

	body.site h2.bottom_slogan {
		text-transform: uppercase;
		font-weight: 100;
	}
}

@media(max-width: 1200px) and (orientation: landscape) {

	body.site.itemid-157 .k-e-i h2 {
		font-size: calc(65px + 96 * (100vw - 1200px) / 1200);
	}

	body.site.itemid-157 div.moduletable div.k-e-i h3 {
	    padding-left: calc(145px + 256 *(100vw - 1200px) / 1200);
	}
}

@media(max-width: 1200px) {

	body.site .custom.ipl_mag_banner img {
	    max-width: 34%;
	}

	body.site .clear-phone-logo.span4 {
	    margin: 0 0 0 20px;
	}

	body.site main#content div.item-page h1 {
	    font-size: calc(28px + 16 * (100vw - 1200px) / 1200);
	    line-height: 26px;
	}

	body.site div.header-wrapper>div.container {
		margin-left: 9px;
	}

	body.site div.moduletable.ipl_anmeldung h3 {
		font-size: 14px;
	}

	body.itemid-119 div.moduletable h3 {
	    color: #fb8537;
	    font-size: 12px;
	    line-height: 20px;
	}

	body.site section#menu-section {
	    margin: 0 0 10px;
	}

	body.site .breadcrumb {	    
	    float: none; 
	    margin: 0px 20px 0 0;
	    text-align: right;
	}

	body.site .logo_slogan_bottom img {
	    padding-left: 20px;
	}

	body.site.itemid-157 .k-e-i h2 {
		font-size: 25px;
	}

	body.site.itemid-157 div.moduletable div.k-e-i h3 {
	    padding-left: 15px;
	}

	body.site .ipl-banner h4 {
		font-size: 14px;
	}

	body.site.itemid-157 div.moduletable div.ipl-banner h3 {
	    font-size: 16px;
	    padding: 15px;
	}

	body.site div.page-header h1,
	body.site div.item-page h1 {
	    font-size: calc(36px + 16 *(100vw - 1200px) / 1200);
	    margin-bottom: 0px;
	}

	body.site .navbar .nav li a {
	    font-size: calc(18px + 8 *(100vw - 1280px) / 1280);
	}

	.header-wrapper a {
	  font-size: calc(16px + 8 *(100vw - 1200px) / 1200);
	}

	body.site section#inner-wrapper .camera_caption.fadeIn h2 {
	    font-size: calc(26px + 24 *(100vw - 1200px) / 1200);
	}


}


@media(min-width: 1024px) {

	body.site.itemid-120 div[itemprop="articleBody"] img {
	    padding: 5px 20px 20px 0px;
	}
}

@media(max-width: 1199px) {

	body.site main#content h2 {
	    font-size: calc(24px + 12 *(100vw - 1200px) / 1200);
	}

	nav.navbar-wrapper.span8 {
	    width: 60%;
	}
}

@media(min-width: 1200px) {

	body.site .custom.ipl_mag_banner img {
	    max-width: 30%;
	}

	body.site {
	  background-color: #f7f7f7;
	}

	div.top-menue ul.nav.menu li:last-child {
	    padding-right: 45px;
	}

	body.site .navbar .nav li a {
	    font-size: 17.6px;
	}

	ul.nav-child.unstyled.small.dropdown-menu li a,
	div#module_1 ul.nav-child li a {
	    padding: 20px;
	    font-size: 14px;
	}

	.header-wrapper a {
	  font-size: 16px;
	}

	body.site h2.bottom_slogan {
		font-size: 20px;
		text-align: right;
		text-transform: uppercase;
		font-weight: 400;
		margin-bottom: 0px;
		margin-top: 0;
    	line-height: 30px;
	}

	body.site .footnav {
	    width: 1190px;
	    text-align: right;
	    margin: 0 auto;
	    padding: 10px;
	}

	body.site footer ul.nav.menu {
		display: inline;
		margin-bottom: 0px;
	}

	body.site footer ul.nav.menu li a {
		color: #818181;
	}

	body.site footer ul.nav.menu li {
	    display: inline-block;
	    font-size: 16px;
	    padding: 0 0px 0 20px;
	}

	body.site .clear-footer {
	    border: none;
	    margin: 0 0 20px;
	    color: #cfd0d0;
	    background-color: #f7f7f7;
	    box-shadow: 0px 10px 15px -8px #a2a2a2;
	}

	body.site div.moduletable h3 {
	    font-size: 20px;
	}

	body.site div.page-header h1,
	body.site div.item-page h1 {
		font-size: 30px;
		margin-bottom: 0px;
	}

	body.site main#content h2,
	body.site div.blog h2 {
		font-size: 22px;
	}

	body.site main#content p {
		font-size: 16px;
		color: #777777;
		line-height: 21px;
	}

	div.clear-right {
    	margin: 5px 0 0 0;
	}

	div.top-menue ul.nav.menu {
	  text-align: right;
	}

	body.site section#menu-section {
	    margin: 0 0 50px; 
	}

	nav.navbar-wrapper.span8 {
	    width: 70%;
	}

	.container.site_wrapper {
	    /*box-shadow: 0 0 65px rgba(245, 245, 245, 0.3) inset;*/
	}

	body.site .navbar .nav {
	    margin: 0 10px 0 3px;
	}

	body.site.Firefox.windows .navbar .nav {
	    margin: 0 10px 0 0px;
	}

	body.site .IPLhistrie {
	    margin-top: 120px;
	}

	div#module_1 ul.nav.menu li:hover ul.nav-child {
	    display: block;
	}

	div#module_1 ul.nav-child li {
	    padding: 0px;
	    width: 100%;
	}
}

@media(max-width: 1280px) {

	body.site b.caret {
		display: none;
	}

	body.site #module_1 .nav.menu>li {
		display: inline-flex;
	}

	a#mobileToggle {
	    padding: 0px;
/*	    border: 1px solid rgba(97, 100, 171, 0.5);
	    border-radius: 50%;*/
	    margin-left: 5px;
	    font-size: 18px;
	}
}

@media(min-width: 1281px) {

	#mobileToggle {
		display: none;
	}

	body.site div.camera_wrap {
	    margin-bottom: 20px !important;
	}

}

@media(max-width: 1367px) {

/*resp-menue*/
	ul li.current.active a {
		color: #6164AB;
	}
  	.mm-btn {
	    max-width: 60px;
	}

  	ul.mm-listview li {
	    line-height: 25px;
	}

	div#toggle {
		float: left;
		border: 1px solid #6164AB;
    	border-radius: 0%;
    	height: 49px;
    	width: 52px;
    	transition: border-radius 0.4s linear;
	}

	html.mm-opened div#toggle {
		border-radius: 50%;
	}

	body.site .mobileTel a {	    
	    color: #7C5656;
	}

	body.site nav#menu {
	    max-height: 90%;
	    visibility: hidden;
	    transition: all 0.4s linear;
	}
	body.site nav#menu.mm-opened {
	    max-height: 100%;
	    visibility: visible;
	}
/*
    body.site ul.mm-listview li a:hover,
    body.site ul.mm-listview li a:focus,
    body.site ul.mm-listview li a:active {
      background: rgb(226,226,226);
      background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 54%, rgba(254,254,254,1) 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(54%,rgba(209,209,209,1)), color-stop(100%,rgba(254,254,254,1)));
      background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 54%,rgba(254,254,254,1) 100%);
      background: -o-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 54%,rgba(254,254,254,1) 100%);
      background: -ms-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 54%,rgba(254,254,254,1) 100%);
      background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 54%,rgba(254,254,254,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 );
    }*/
    
    .button_container {
      position: relative;
      left: 0;
      top: 0px;
      height: 47px;
      width: 45px;
      cursor: pointer;
      z-index: 100;
      margin-top: 15px;
      -webkit-transition: opacity .25s ease;
            transition: opacity .25s ease;
    }

    body.site .mm-btn:not(.mm-prev) {
	    position: relative;
	}

    html.mm-opened .button_container .top {
      -webkit-transform: translateY(10px) translateX(0) rotate(45deg);
          -ms-transform: translateY(10px) translateX(0) rotate(45deg);
              transform: translateY(10px) translateX(0) rotate(45deg);
      background: rgba(97, 100, 171, 1);
      box-shadow: none;
    }
    html.mm-opened .button_container .middle {
      opacity: 0;
      background: rgba(97, 100, 171, 1);
    }
    html.mm-opened .button_container .bottom {
      -webkit-transform: translateY(-10px) translateX(0) rotate(-45deg);
          -ms-transform: translateY(-10px) translateX(0) rotate(-45deg);
              transform: translateY(-10px) translateX(0) rotate(-45deg);
      background: rgba(97, 100, 171, 1);
      box-shadow: none;
    }
    .button_container span {
		background: #6164AB;
		border: none;
		height: 1px;
		width: 70%;
		position: absolute;
		top: 13px;
		left: 8px;
		-webkit-transition: all .35s ease;
		      transition: all .35s ease;
		cursor: pointer;
		box-shadow: 0px 2px 1px 1px #ECE4F9;
    }
    .button_container span:nth-of-type(2) {
      top: 23px;
    }
    .button_container span:nth-of-type(3) {
      top: 33px;
    }

    html.mm-pagedim-black #mm-blocker {
	    background: #6164AB;
	}

	body.site nav#menu a {
		text-transform: uppercase;
	}

	body.site div.mm-navbar a.mm-title,
	body.site div.mm-navbar-bottom a {
		color: #6164AB;
	}

/*<-- Resp Menu END -->*/	
}




 /*Template Standard*/

 @media (min-width: 768px) and (max-width: 979px) {
	.hidden-desktop {
		display: inherit !important;
	}
	.visible-desktop {
		display: none !important;
	}
	.visible-tablet {
		display: inherit !important;
	}
	.hidden-tablet {
		display: none !important;
	}
}
@media (max-width: 767px) {
	.hidden-desktop {
		display: inherit !important;
	}
	.visible-desktop {
		display: none !important;
	}
	.visible-phone {
		display: inherit !important;
	}
	.hidden-phone {
		display: none !important;
	}
}

@media (max-width: 767px) {
	body {
		padding-left: 20px;
		padding-right: 20px;
	}
	.navbar-fixed-top,
	.navbar-fixed-bottom,
	.navbar-static-top {
		margin-left: -20px;
		margin-right: -20px;
	}
	.container-fluid {
		padding: 0;
	}
	.dl-horizontal dt {
		float: none;
		clear: none;
		width: auto;
		text-align: left;
	}
	.dl-horizontal dd {
		margin-left: 0;
	}
	.container {
		width: auto;
	}
	.row-fluid {
		width: 100%;
	}
	.row,
	.thumbnails {
		margin-left: 0;
	}
	.thumbnails > li {
		float: none;
		margin-left: 0;
	}
	[class*="span"],
	.uneditable-input[class*="span"],
	.row-fluid [class*="span"] {
		float: none;
		display: block;
		width: 100%;
		margin-left: 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.span12,
	.row-fluid .span12 {
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.row-fluid [class*="offset"]:first-child {
		margin-left: 0;
	}
	.input-large,
	.input-xlarge,
	.input-xxlarge,
	input[class*="span"],
	select[class*="span"],
	textarea[class*="span"],
	.uneditable-input {
		display: block;
		width: 100%;
		min-height: 28px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.input-prepend input,
	.input-append input,
	.input-prepend input[class*="span"],
	.input-append input[class*="span"] {
		display: inline-block;
		width: auto;
	}
	.controls-row [class*="span"] + [class*="span"] {
		margin-left: 0;
	}
}
@media (max-width: 480px) {
	.nav-collapse {
		-webkit-transform: translate3d(0,0,0);
	}
	.page-header h1 small {
		display: block;
		line-height: 18px;
	}
	input[type="checkbox"],
	input[type="radio"] {
		border: 1px solid #ccc;
	}
	.form-horizontal .control-label {
		float: none;
		width: auto;
		padding-top: 0;
		text-align: left;
	}
	.form-horizontal .controls {
		margin-left: 0;
	}
	.form-horizontal .control-list {
		padding-top: 0;
	}
	.form-horizontal .form-actions {
		padding-left: 10px;
		padding-right: 10px;
	}
	.media .pull-left,
	.media .pull-right {
		float: none;
		display: block;
		margin-bottom: 10px;
	}
	.media-object {
		margin-right: 0;
		margin-left: 0;
	}
	.modal-header .close {
		padding: 10px;
		margin: -10px;
	}
	.carousel-caption {
		position: static;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.row {
		margin-left: -20px;
		*zoom: 1;
	}
	.row:before,
	.row:after {
		display: table;
		content: "";
		line-height: 0;
	}
	.row:after {
		clear: both;
	}
	[class*="span"] {
		float: left;
		min-height: 1px;
		margin-left: 20px;
	}
	.container,
	.navbar-static-top .container,
	.navbar-fixed-top .container,
	.navbar-fixed-bottom .container {
		width: 724px;
	}
	.span12 {
		width: 724px;
	}
	.span11 {
		width: 662px;
	}
	.span10 {
		width: 600px;
	}
	.span9 {
		width: 538px;
	}
	.span8 {
		width: 476px;
	}
	.span7 {
		width: 414px;
	}
	.span6 {
		width: 352px;
	}
	.span5 {
		width: 290px;
	}
	.span4 {
		width: 228px;
	}
	.span3 {
		width: 166px;
	}
	.span2 {
		width: 104px;
	}
	.span1 {
		width: 42px;
	}
	.offset12 {
		margin-left: 764px;
	}
	.offset11 {
		margin-left: 702px;
	}
	.offset10 {
		margin-left: 640px;
	}
	.offset9 {
		margin-left: 578px;
	}
	.offset8 {
		margin-left: 516px;
	}
	.offset7 {
		margin-left: 454px;
	}
	.offset6 {
		margin-left: 392px;
	}
	.offset5 {
		margin-left: 330px;
	}
	.offset4 {
		margin-left: 268px;
	}
	.offset3 {
		margin-left: 206px;
	}
	.offset2 {
		margin-left: 144px;
	}
	.offset1 {
		margin-left: 82px;
	}
	.row-fluid {
		width: 100%;
		*zoom: 1;
	}
	.row-fluid:before,
	.row-fluid:after {
		display: table;
		content: "";
		line-height: 0;
	}
	.row-fluid:after {
		clear: both;
	}
	.row-fluid [class*="span"] {
		display: block;
		width: 100%;
		min-height: 28px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		margin-left: 2.127659574%;
	}
	.row-fluid [class*="span"]:first-child {
		margin-left: 0;
	}
	.row-fluid .controls-row [class*="span"] + [class*="span"] {
		margin-left: 2.127659574%;
	}
	.row-fluid .span12 {
		width: 99.99999999%;
	}
	.row-fluid .span11 {
		width: 91.489361693%;
	}
	.row-fluid .span10 {
		width: 82.978723396%;
	}
	.row-fluid .span9 {
		width: 74.468085099%;
	}
	.row-fluid .span8 {
		width: 65.957446802%;
	}
	.row-fluid .span7 {
		width: 57.446808505%;
	}
	.row-fluid .span6 {
		width: 48.936170208%;
	}
	.row-fluid .span5 {
		width: 40.425531911%;
	}
	.row-fluid .span4 {
		width: 31.914893614%;
	}
	.row-fluid .span3 {
		width: 23.404255317%;
	}
	.row-fluid .span2 {
		width: 14.89361702%;
	}
	.row-fluid .span1 {
		width: 6.382978723%;
	}
	.row-fluid .offset12 {
		margin-left: 104.255319138%;
	}
	.row-fluid .offset12:first-child {
		margin-left: 102.127659564%;
	}
	.row-fluid .offset11 {
		margin-left: 95.744680841%;
	}
	.row-fluid .offset11:first-child {
		margin-left: 93.617021267%;
	}
	.row-fluid .offset10 {
		margin-left: 87.234042544%;
	}
	.row-fluid .offset10:first-child {
		margin-left: 85.10638297%;
	}
	.row-fluid .offset9 {
		margin-left: 78.723404247%;
	}
	.row-fluid .offset9:first-child {
		margin-left: 76.595744673%;
	}
	.row-fluid .offset8 {
		margin-left: 70.21276595%;
	}
	.row-fluid .offset8:first-child {
		margin-left: 68.085106376%;
	}
	.row-fluid .offset7 {
		margin-left: 61.702127653%;
	}
	.row-fluid .offset7:first-child {
		margin-left: 59.574468079%;
	}
	.row-fluid .offset6 {
		margin-left: 53.191489356%;
	}
	.row-fluid .offset6:first-child {
		margin-left: 51.063829782%;
	}
	.row-fluid .offset5 {
		margin-left: 44.680851059%;
	}
	.row-fluid .offset5:first-child {
		margin-left: 42.553191485%;
	}
	.row-fluid .offset4 {
		margin-left: 36.170212762%;
	}
	.row-fluid .offset4:first-child {
		margin-left: 34.042553188%;
	}
	.row-fluid .offset3 {
		margin-left: 27.659574465%;
	}
	.row-fluid .offset3:first-child {
		margin-left: 25.531914891%;
	}
	.row-fluid .offset2 {
		margin-left: 19.148936168%;
	}
	.row-fluid .offset2:first-child {
		margin-left: 17.021276594%;
	}
	.row-fluid .offset1 {
		margin-left: 10.638297871%;
	}
	.row-fluid .offset1:first-child {
		margin-left: 8.510638297%;
	}
	input,
	textarea,
	.uneditable-input {
		margin-left: 0;
	}
	.controls-row [class*="span"] + [class*="span"] {
		margin-left: 20px;
	}
	input.span12,
	textarea.span12,
	.uneditable-input.span12 {
		width: 710px;
	}
	input.span11,
	textarea.span11,
	.uneditable-input.span11 {
		width: 648px;
	}
	input.span10,
	textarea.span10,
	.uneditable-input.span10 {
		width: 586px;
	}
	input.span9,
	textarea.span9,
	.uneditable-input.span9 {
		width: 524px;
	}
	input.span8,
	textarea.span8,
	.uneditable-input.span8 {
		width: 462px;
	}
	input.span7,
	textarea.span7,
	.uneditable-input.span7 {
		width: 400px;
	}
	input.span6,
	textarea.span6,
	.uneditable-input.span6 {
		width: 338px;
	}
	input.span5,
	textarea.span5,
	.uneditable-input.span5 {
		width: 276px;
	}
	input.span4,
	textarea.span4,
	.uneditable-input.span4 {
		width: 214px;
	}
	input.span3,
	textarea.span3,
	.uneditable-input.span3 {
		width: 152px;
	}
	input.span2,
	textarea.span2,
	.uneditable-input.span2 {
		width: 90px;
	}
	input.span1,
	textarea.span1,
	.uneditable-input.span1 {
		width: 28px;
	}
}
@media (min-width: 1200px) {
	.row {
		margin-left: -20px;
		*zoom: 1;
	}
	.row:before,
	.row:after {
		display: table;
		content: "";
		line-height: 0;
	}
	.row:after {
		clear: both;
	}
	[class*="span"] {
		float: left;
		min-height: 1px;
		margin-left: 20px;
	}
	.container,
	.navbar-static-top .container,
	.navbar-fixed-top .container,
	.navbar-fixed-bottom .container {
		width: 940px;
	}
	.span12 {
		width: 940px;
	}
	.span11 {
		width: 860px;
	}
	.span10 {
		width: 780px;
	}
	.span9 {
		width: 700px;
	}
	.span8 {
		width: 620px;
	}
	.span7 {
		width: 540px;
	}
	.span6 {
		width: 460px;
	}
	.span5 {
		width: 380px;
	}
	.span4 {
		width: 300px;
	}
	.span3 {
		width: 220px;
	}
	.span2 {
		width: 140px;
	}
	.span1 {
		width: 60px;
	}
	.offset12 {
		margin-left: 980px;
	}
	.offset11 {
		margin-left: 900px;
	}
	.offset10 {
		margin-left: 820px;
	}
	.offset9 {
		margin-left: 740px;
	}
	.offset8 {
		margin-left: 660px;
	}
	.offset7 {
		margin-left: 580px;
	}
	.offset6 {
		margin-left: 500px;
	}
	.offset5 {
		margin-left: 420px;
	}
	.offset4 {
		margin-left: 340px;
	}
	.offset3 {
		margin-left: 260px;
	}
	.offset2 {
		margin-left: 180px;
	}
	.offset1 {
		margin-left: 100px;
	}
	.row-fluid {
		width: 100%;
		*zoom: 1;
	}
	.row-fluid:before,
	.row-fluid:after {
		display: table;
		content: "";
		line-height: 0;
	}
	.row-fluid:after {
		clear: both;
	}
	.row-fluid [class*="span"] {
		display: block;
		width: 100%;
		min-height: 28px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		margin-left: 2.127659574%;
		*margin-left: 2.0744680846383%;
	}
	.row-fluid [class*="span"]:first-child {
		margin-left: 0;
	}
	.row-fluid .controls-row [class*="span"] + [class*="span"] {
		margin-left: 2.127659574%;
	}
	.row-fluid .span12 {
		width: 99.99999999%;
	}
	.row-fluid .span11 {
		width: 91.489361693%;
	}
	.row-fluid .span10 {
		width: 82.978723396%;
	}
	.row-fluid .span9 {
		width: 74.468085099%;
	}
	.row-fluid .span8 {
		width: 65.957446802%;
	}
	.row-fluid .span7 {
		width: 57.446808505%;
		*width: 57.393617015638%;
	}
	.row-fluid .span6 {
		width: 48.936170208%;
		*width: 48.882978718638%;
	}
	.row-fluid .span5 {
		width: 40.425531911%;
	}
	.row-fluid .span4 {
		width: 31.914893614%;
	}
	.row-fluid .span3 {
		width: 23.404255317%;
	}
	.row-fluid .span2 {
		width: 14.89361702%;
	}
	.row-fluid .span1 {
		width: 6.382978723%;
	}
	.row-fluid .offset12 {
		margin-left: 104.255319138%;
	}
	.row-fluid .offset12:first-child {
		margin-left: 102.127659564%;
	}
	.row-fluid .offset11 {
		margin-left: 95.744680841%;
	}
	.row-fluid .offset11:first-child {
		margin-left: 93.617021267%;
	}
	.row-fluid .offset10 {
		margin-left: 87.234042544%;
	}
	.row-fluid .offset10:first-child {
		margin-left: 85.10638297%;
	}
	.row-fluid .offset9 {
		margin-left: 78.723404247%;
	}
	.row-fluid .offset9:first-child {
		margin-left: 76.595744673%;
	}
	.row-fluid .offset8 {
		margin-left: 70.21276595%;
	}
	.row-fluid .offset8:first-child {
		margin-left: 68.085106376%;
	}
	.row-fluid .offset7 {
		margin-left: 61.702127653%;
	}
	.row-fluid .offset7:first-child {
		margin-left: 59.574468079%;
	}
	.row-fluid .offset6 {
		margin-left: 53.191489356%;
	}
	.row-fluid .offset6:first-child {
		margin-left: 51.063829782%;
	}
	.row-fluid .offset5 {
		margin-left: 44.680851059%;
	}
	.row-fluid .offset5:first-child {
		margin-left: 42.553191485%;
	}
	.row-fluid .offset4 {
		margin-left: 36.170212762%;
	}
	.row-fluid .offset4:first-child {
		margin-left: 34.042553188%;
	}
	.row-fluid .offset3 {
		margin-left: 27.659574465%;
	}
	.row-fluid .offset3:first-child {
		margin-left: 25.531914891%;
	}
	.row-fluid .offset2 {
		margin-left: 19.148936168%;
	}
	.row-fluid .offset2:first-child {
		margin-left: 17.021276594%;
	}
	.row-fluid .offset1 {
		margin-left: 10.638297871%;
	}
	.row-fluid .offset1:first-child {
		margin-left: 8.510638297%;
	}
	input,
	textarea,
	.uneditable-input {
		margin-left: 0;
	}
	.controls-row [class*="span"] + [class*="span"] {
		margin-left: 20px;
	}
	input.span12,
	textarea.span12,
	.uneditable-input.span12 {
		width: 926px;
	}
	input.span11,
	textarea.span11,
	.uneditable-input.span11 {
		width: 846px;
	}
	input.span10,
	textarea.span10,
	.uneditable-input.span10 {
		width: 766px;
	}
	input.span9,
	textarea.span9,
	.uneditable-input.span9 {
		width: 686px;
	}
	input.span8,
	textarea.span8,
	.uneditable-input.span8 {
		width: 606px;
	}
	input.span7,
	textarea.span7,
	.uneditable-input.span7 {
		width: 526px;
	}
	input.span6,
	textarea.span6,
	.uneditable-input.span6 {
		width: 446px;
	}
	input.span5,
	textarea.span5,
	.uneditable-input.span5 {
		width: 366px;
	}
	input.span4,
	textarea.span4,
	.uneditable-input.span4 {
		width: 286px;
	}
	input.span3,
	textarea.span3,
	.uneditable-input.span3 {
		width: 206px;
	}
	input.span2,
	textarea.span2,
	.uneditable-input.span2 {
		width: 126px;
	}
	input.span1,
	textarea.span1,
	.uneditable-input.span1 {
		width: 46px;
	}
	.thumbnails {
		margin-left: -20px;
	}
	.thumbnails > li {
		margin-left: 20px;
	}
	.row-fluid .thumbnails {
		margin-left: 0;
	}
}
@media (max-width: 979px) {
	body {
		padding-top: 0;
	}
	.navbar-fixed-top,
	.navbar-fixed-bottom {
		position: static;
	}
	.navbar-fixed-top {
		margin-bottom: 18px;
	}
	.navbar-fixed-bottom {
		margin-top: 18px;
	}
	.navbar-fixed-top .navbar-inner,
	.navbar-fixed-bottom .navbar-inner {
		padding: 5px;
	}
	.navbar .container {
		width: auto;
		padding: 0;
	}
	.navbar .brand {
		padding-left: 10px;
		padding-right: 10px;
		margin: 0 0 0 -5px;
	}
	.nav-collapse {
		clear: both;
	}
	.nav-collapse .nav {
		float: none;
		margin: 0 0 9px;
	}
	.nav-collapse .nav > li {
		float: none;
	}
	.nav-collapse .nav > li > a {
		margin-bottom: 2px;
	}
	.nav-collapse .nav > .divider-vertical {
		display: none;
	}
	.nav-collapse .nav .nav-header {
		color: #fff;
		text-shadow: none;
	}
	.nav-collapse .nav > li > a,
	.nav-collapse .dropdown-menu a {
		padding: 9px 15px;
		font-weight: bold;
		color: #fff;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
	.nav-collapse .btn {
		padding: 4px 10px 4px;
		font-weight: normal;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
	.nav-collapse .dropdown-menu li + li a {
		margin-bottom: 2px;
	}
	.nav-collapse .nav > li > a:hover,
	.nav-collapse .nav > li > a:focus,
	.nav-collapse .dropdown-menu a:hover,
	.nav-collapse .dropdown-menu a:focus {
		background-color: #007ab8;
	}
	.navbar-inverse .nav-collapse .nav > li > a,
	.navbar-inverse .nav-collapse .dropdown-menu a {
		color: #999;
	}
	.navbar-inverse .nav-collapse .nav > li > a:hover,
	.navbar-inverse .nav-collapse .nav > li > a:focus,
	.navbar-inverse .nav-collapse .dropdown-menu a:hover,
	.navbar-inverse .nav-collapse .dropdown-menu a:focus {
		background-color: #111111;
	}
	.nav-collapse.in .btn-group {
		margin-top: 5px;
		padding: 0;
	}
	.nav-collapse .dropdown-menu {
		position: static;
		top: auto;
		left: auto;
		float: none;
		display: none;
		max-width: none;
		margin: 0 15px;
		padding: 0;
		background-color: transparent;
		border: none;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	.nav-collapse .open > .dropdown-menu {
		display: block;
	}
	.nav-collapse .dropdown-menu:before,
	.nav-collapse .dropdown-menu:after {
		display: none;
	}
	.nav-collapse .dropdown-menu .divider {
		display: none;
	}
	.nav-collapse .nav > li > .dropdown-menu:before,
	.nav-collapse .nav > li > .dropdown-menu:after {
		display: none;
	}
	.nav-collapse .navbar-form,
	.nav-collapse .navbar-search {
		float: none;
		padding: 9px 15px;
		margin: 9px 0;
		border-top: 1px solid #007ab8;
		border-bottom: 1px solid #007ab8;
		-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
		-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
		box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
	}
	.navbar-inverse .nav-collapse .navbar-form,
	.navbar-inverse .nav-collapse .navbar-search {
		border-top-color: #111111;
		border-bottom-color: #111111;
	}
	.navbar .nav-collapse .nav.pull-right {
		float: none;
		margin-left: 0;
	}
	.nav-collapse,
	.nav-collapse.collapse {
		overflow: hidden;
		height: 0;
	}
	.navbar .btn-navbar {
		display: block;
	}
	.navbar-static .navbar-inner {
		padding-left: 10px;
		padding-right: 10px;
	}
}
@media (min-width: 980px) {
	.nav-collapse.collapse {
		height: auto !important;
		overflow: visible !important;
	}
}

@media (max-width: 767px) {
	div.modal {
		position: fixed;
		top: 20px;
		left: 20px;
		right: 20px;
		width: auto;
		margin: 0;
	}
	div.modal.fade {
		top: -100px;
	}
	div.modal.fade.in {
		top: 20px;
	}
}
@media (max-width: 480px) {
	div.modal {
		top: 10px;
		left: 10px;
		right: 10px;
	}
}

@media (max-width: 480px) {
	.item-info > span {
		display: block;
	}
	.blog-item .pull-right.item-image {
		margin: 0 0 18px 0;
	}
	.blog-item .pull-left.item-image {
		margin: 0 0 18px 0;
		float: none;
	}
}
@media (max-width: 768px) {
	body {
		padding-top: 0;
	}
	.clear-slider {
		top: 0;
	}
	.clear-slider .ext-item-html {
		display: none;
	}
	.header {
		background: transparent;
	}
	.header .brand {
		float: none;
		display: block;
		text-align: center;
	}
	.header-search {
		float: none;
		display: block;
	}
	.header-search form {
		margin: 0;
	}
	.header-search .search-query {
		width: 90%;
	}
	.header .nav-pills > li > a {
		border: 1px solid #ddd;
		border-bottom: 0;
		margin: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		margin-right: 0;
	}
	.header .nav-pills > li:first-child > a {
		-webkit-border-radius: 4px 4px 0 0;
		-moz-border-radius: 4px 4px 0 0;
		border-radius: 4px 4px 0 0;
	}
	.header .nav-pills > li:last-child > a {
		-webkit-border-radius: 0 0 4px 4px;
		-moz-border-radius: 0 0 4px 4px;
		border-radius: 0 0 4px 4px;
		border-bottom: 1px solid #ddd;
	}
	.modal.fade {
		top: -100%;
	}
	.nav-tabs {
		border-bottom: 0;
	}
	.nav-tabs > li {
		float: none;
	}
	.nav-tabs > li > a {
		border: 1px solid #ddd;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		margin-right: 0;
	}
	.nav-tabs > li:first-child > a {
		-webkit-border-radius: 4px 4px 0 0;
		-moz-border-radius: 4px 4px 0 0;
		border-radius: 4px 4px 0 0;
	}
	.nav-tabs > li:last-child > a,
	.nav-tabs > .active:last-child > a {
		-webkit-border-radius: 0 0 4px 4px;
		-moz-border-radius: 0 0 4px 4px;
		border-radius: 0 0 4px 4px;
		border-bottom: 1px solid #ddd;
	}
	.nav-tabs > li > a:hover {
		border-color: #ddd;
		z-index: 2;
	}
	.nav-tabs.nav-dark > li > a {
		border: 1px solid #333;
	}
	.nav-tabs > li:last-child > a,
	.nav-tabs > .active:last-child > a {
		border-bottom: 1px solid #333;
	}
	.nav-tabs.nav-dark > li > a:hover {
		border-color: #333;
	}
	.nav-pills > li {
		float: none;
	}
	.nav-pills > li > a {
		margin-right: 0;
	}
	.nav-pills > li > a {
		margin-bottom: 3px;
	}
	.nav-pills  > li:last-child > a {
		margin-bottom: 1px;
	}
	.form-search > .pull-left,
	.form-search > .pull-right {
		float: none;
		display: block;
		margin-bottom: 9px;
	}
}
@media (max-width: 980px) {
	.navbar-fixed-top {
		margin-bottom: 0 !important;
	}
	.item-comment .item-image {
		display: none;
	}
	.well {
		padding: 10px;
	}
	.header-right {
		width: 100%;
		float: left;
		text-align: left;
	}
	.header-right .clear-map {
		width: 100%;
	}
	.header-right .clear-phone {
		text-align: left !important;
		width: 100%;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	#login-form .input-small {
		width: 62px;
	}
}