/* * ------------------------------------------------------------------------
 * JA T3v2 System Plugin for J3.x
 * ------------------------------------------------------------------------
 * Copyright (C) 2004-2011 J.O.O.M Solutions Co., Ltd. All Rights Reserved.
 * @license - GNU/GPL, http://www.gnu.org/licenses/gpl.html
 * Author: J.O.O.M Solutions Co., Ltd
 * Websites: http://www.joomlart.com - http://www.joomlancers.com
 * ------------------------------------------------------------------------*//* USERTOOLs----------------------------------------------------------- *//* Toggle BTN */a#ja-cpanel-toggle {	background-position: right top;}.open {	background-position: right bottom !important;}/* Font tool */#ja-cpanel-main ul.ja-usertools-font {	float: right;}#ja-cpanel-main ul.ja-usertools-font li {	margin-left: 0;}/* Screen Tool */#ja-cpanel-main ul.ja-usertools-screen {	background-position: right center;}/* Extended */#ja-cpanel-main ul li {	float: right;	margin-left: 10px;	margin-right: 0;}.ja-cpanel-action a {	margin-right: 0;	margin-left: 5px;	direction: ltr;}#ja-cpanel-main {	text-align: right;}.ja-cpanel-action  {	text-align: right;}.ja-cpanel-head {	text-align: left;}