/**
 * @package     LOGman
 * @copyright   Copyright (C) 2011 - 2015 Timble CVBA. (http://www.timble.net)
 * @license     GNU GPLv3 <http://www.gnu.org/licenses/gpl.html>
 * @link        http://www.joomlatools.com
 */
.fileman-file-modal {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    margin: 20px auto;
}

.fileman-file-preview {
    text-align: center;
}