ul {
  display: block;
  margin: 0;
  list-style: none !important;

  li {
    position: relative;

    .koowa_header {
      margin: 0;
      line-height: 1.5em;
      padding: 5px 0;
    }

    .koowa_header__item--image_container {
      vertical-align: top;
      padding-top: 2px;
    }

    img {
      width: auto;
      height: 16px;
      max-width: 16px;
      max-height: 16px;
    }
  }

  .activity__date {
    clear: both;
    display: block;
  }
}

.mod_logman {
  &__header {
    font-weight: bold;
    border-bottom: 1px solid;
  }
}

.activity__date {
  text-align: right;
  font-style: italic;
}