#filter {
  border-bottom: 1px solid #cccccc;
}

#filter ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #e0e0e0;
}

#filter ul li {
  display: inline-block;
}

#filter ul li a:link {
  display: block;
  padding: 6px 15px;
}

#filter ul li.active a:link {
  background-color: #b7b7b7;
  color: #424242;
  text-decoration: none;
}