.logman_table_layout {
  &__item {
    &--header th {
      height: auto;
      text-align: center;
      font-weight: bold;
      border-bottom: 1px solid #dddddd;
      font-size: 13px;
      padding: 5px;
    }
  }

  &__message, &__time {
    width: auto;
    white-space: nowrap;
    word-break: normal;
  }

  &__time {
    text-align: right;
  }

  &__message i {
    margin-right: 5px;
    opacity: 0.5; // Greyed icons look better with the rest of the template.
  }

  tbody tr td * {
    vertical-align: baseline;
  }
}