// Overwrite variables
$koowaPath: '../../../media/koowa/com_koowa';
$iconSpritePath: '../../../media/koowa/com_koowa/images/glyphicons-halflings.png';
$iconWhiteSpritePath: '../../../media/koowa/com_koowa/images/glyphicons-halflings-white.png';