.icon-48-migrateme {
    background: url('images/mm_48x48.png');
}

.mm_curved {
    border-radius: 20px;
    box-shadow: 0 0 5px 5px #ccc;
    padding: 0px;
    width: 800px;
    margin: 20px auto;
    overflow: hidden;
}

.mm_insert {
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
    padding: 20px;
    overflow: auto;
    clear:both;
    border: 2px solid #feb645;
    border-radius: 0 0 20px 20px;
}

.mm_top {
    padding: 10px 20px;
    background: #f1e767; /* Old browsers */
    background: -moz-linear-gradient(top,  #f1e767 0%, #feb645 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1e767), color-stop(100%,#feb645)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f1e767 0%,#feb645 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f1e767 0%,#feb645 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f1e767 0%,#feb645 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f1e767 0%,#feb645 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645',GradientType=0 ); /* IE6-9 */
}

.mm_left {
    float: left;
    width: 490px;
}

#mm_scroll {
    height: 490px;
    overflow: auto;
}

.mm_right {
    float:right;
    width: 250px;
    height: auto;
    min-height: 580px;
    border-left: 1px solid #ccc;
    padding-left: 10px;
    overflow: auto;
}

.mm_compatibility {
    padding: 0;
    width: 220px;
}

#migrateme .checkbox {
    float: left;
}

#mm_import {
    clear: both;
    overflow: auto;
}

#queue {
	height: 50px;
	overflow: hidden;
    float: left;
	padding: 0;
	width: 250px;
}

.uploadifive-button {
	float: left;
	margin-right: 10px;
    height: 40px !important;
    padding-top: 10px;
}

#startMigration, #showLog {
    height: 38px;
    padding: 15px 58px 15px 10px;
    color: #000;
    width: 80px;
    font-size: 14px;
    float: left;
    margin: 10px 0 10px 50px;
    color: #666;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #cec;
    background: #f0fff0 url('images/next.png') right center no-repeat;
}

.ajax {
    background: url('images/spinner.gif') no-repeat;
    height: 32px;
    width: auto;
    padding: 8px 0 0 42px;
    float: left;
    margin-left: 50px;
    display: none;
}

#checkme {
    background: url('images/spinner.gif') no-repeat;
    height: 32px;
    width: 32px;
    float: left;
    margin: -10px 0 0 0;
}

.mm_step {
    clear: both;
    overflow: auto;
}

#mm_step2, #mm_step3, #mm_step2_content, #mm_step4 {
    clear: both;
    display:none;
}


/* /// CHECKBOXES /// */
#migrateme input, #migrateme select {
    margin:0 !important;
    padding: 4px !important;
    font-size:12px !important;
    outline:none !important;
	font-family:inherit !important;
}

#migrateme input.styled {
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	box-sizing:border-box;
}

#migrateme label {
    color: #696 !important;
    font-weight: normal !important;
    font-family: Verdana !important;
    font-size: 13px !important;
    float: left !important;
    margin: 0 !important;
    padding: 0 !important;
}

#migrateme label.mm_processing {
    color: #fac;
}

#migrateme label.mm_done {
    color: #acf;
}

#migrateme label:hover {
    color: #669
}

#migrateme input[type="checkbox"] {
    display: none;
}

#migrateme label.styled:before { 
    display: inline-block;
    position: relative;
    top:0.25em;
    left:-2px; 
    content:'';
    width:25px;
    height:25px;
    background-image:url(images/formelements.png);
}
	
#migrateme input[type="checkbox"] + label:before { background-position: 0 -25px;}
#migrateme input[type="checkbox"]:checked + label:before {background-position: 0 0 ; }

#migrateme br, #migrateme hr {
    clear: both;
}

#mm_enterEmail {
    font-family: Arial;
    font-size: 13px;
    background-image: url('images/next.png');
    padding: 17px 10px 12px 10px;
    height: 26px;
    width: 44px;
    float: right;
    color: #fff;
    margin:-37px 0 0 0;
    cursor: pointer;
    position: relative;
}

#mm_ok {
    font-family: Arial;
    font-size: 13px;
    background-image: url('images/next.png');
    padding: 17px 10px 12px 10px;
    height: 26px;
    width: 44px;
    float: right;
    color: #fff;
    margin:-37px 0 0 0;
    cursor: pointer;
    position: relative;
}

#mm_signin {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 440px;
    margin-left: -200px;
    margin-top: -120px;
    background: #fff;
    opacity: 1;
    z-index:10000;
    display:none;
}

#mm_taboo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 440px;
    margin-left: -200px;
    margin-top: -120px;
    background: #fff;
    opacity: 1;
    z-index:10000;
    display:none;
}

#mm_overcast {
    position: absolute;
    z-index:9999;
    height:100%;
    width:100%;
    opacity:0.8;
    background: #fff;
    left:0;
    display:none;
}


#migrateme input.mm_input {
    font-family: Arial;
    width:340px;
    height:20px;
    padding: 3px 0;
    font-size:14px;
    color: #666;
    float: left;
}


#migrateme h1 {
    font-family: Verdana;
    font-weight: normal;
    font-size: 32px;
    color: #555;
}

#migrateme h3 {
    font-family: Verdana;
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 10px 0;
    padding: 0;
    clear: both;
}

#migrateme p {
    font-family: Arial;
    font-size:12px;
    margin: 0 0 10px 0;
    padding: 0;
    line-height: normal;
}


#migrateme ul, #migrateme ol {
    font-family: Arial;
    font-size: 13px;
    margin: 0 0 9px 25px;
    text-align: left;
    padding: 0;
    line-height: normal;
}
#migrateme ul {
    margin: 0 0 0 25px;
}
#migrateme li {
    margin: 5px 0;
    padding: 0;
    line-height: normal;
}

p#mm_registered {
    font-size: 10px;
    margin:0;
    cursor: pointer;
}

#migrateme hr {
    height: 0;
    margin: 10px 0;
    padding: 0;
    clear: both;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #fff;
}

#mm_html5 {
    display:none;
}


/* STATUS FLAGS */
legend {
    padding: 0;
    margin: 0;
}

.status-0 {
    background: url('images/status-0.png') no-repeat 0 0;
    height: 16px;
    width: 24px;
}

.status-1 {
    background: url('images/status-1.png') no-repeat 0 0;
    height: 16px;
    width: 24px;
}

.status-2 {
    background: url('images/importing.gif') no-repeat 0 0;
    height: 24px;
    width: 24px;
}

.status-3 {
    background: url('images/status-3.png') no-repeat 0 0;
    height: 16px;
    width: 24px;
}

td.check {
    font-size: 10px;
}

/* /// RESUME VS STEP 1 /// */
#mm_resume, #mm_step1 {
    display: none;
}

.btn_yes, .btn_no {
    height: 28px;
    padding: 25px 58px 15px 15px;
    font-weight: bold;
    color: #666;
    width: 40px;
    font-size: 14px;
    float: left;
    margin: 10px 0 10px 50px;
    border-radius: 4px;
    border: 1px solid #cec;
    background: #f0fff0 url('images/yes.png') right center no-repeat;
    cursor: pointer;
}

.btn_no {
    background: #fff url('images/no.png') right center no-repeat;
    border: 1px solid #ecc;
} 
.btn_yes:hover, .btn_no:hover, #startMigration:hover, #showLog:hover {
    box-shadow: 0 0 1px 1px #ddd;
}

/* /// CONFIGURATION FIELDSET /// */
fieldset#mm_config_fieldset {
    padding: 20px;
    border: 1px solid #ccc;
    width: 500px;
    border-radius: 10px;
    margin: 30px 0 20px 0;
}

div.mm_field {
    display: block;
    overflow: auto;
    clear: both;
}

#mm_config_fieldset label {
    width: 150px !important;
    font: 14px Arial, sans-serif !important;
    color: #555 !important;
    line-height: 18px !important;
    margin: 4px 0 0 0 !important;
    float: left !important;
}

#mm_config_fieldset select {
    width: 300px !important;
    padding: 2px !important;
    background: #efe !important;
    border-radius: 4px !important;
    float: left !important;
    font: 14px Arial, sans-serif !important;
}

.info {
    background: url('images/info.png') no-repeat center;
    height: 24px;
    width: 40px;
    margin: 0 0 20px 0;
    display: inline-block;
}

.showMe {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}