/**
 * ------------------------------------------------------------------------
 * JA Typo Plugin for Joomla 2.5 & J34
 * ------------------------------------------------------------------------
 * Copyright (C) 2004-2011 J.O.O.M Solutions Co., Ltd. All Rights Reserved.
 * @license - GNU/GPL, http://www.gnu.org/licenses/gpl.html
 * Author: J.O.O.M Solutions Co., Ltd
 * Websites: http://www.joomlart.com - http://www.joomlancers.com
 * ------------------------------------------------------------------------
 */
/* PREFORMATTED TEXT
-------------------------------------------------------------*/
/* Pre, Code ---*/
pre,.code {
	border-left-width: 1px !important;
	border-right-width: 5px !important;
}

/* Inline Words Hilite ---*/
/* Dropcap ---*/
.dropcap {
	padding: 7px 0 0 8px;
}

/* Blockquote ---*/
blockquote span.open {
	background-image: url(images/rtl/so-q.gif);
	background-position: right top !important;
	padding: 0 20px 0 0;
}

blockquote span.close {
	padding: 0 0 0 20px;
	background-image: url(images/rtl/sc-q.gif);
	background-position: left bottom !important;
}

/* sub & sup tags ---*/
/* LIST STYLES
-----------------------------------------------------------------*/
/* Special list style ---*/
body ul.ja-typo-list li {
	background: none;
	margin-left: 0;
	margin-right: 8px;
	padding: 0 25px 0 0;
}

body ul.ja-typo-list span.icon {
	left: auto;
	right: 0;
	padding-right: 0 !important;
}

body ul.ja-unordered-list li {
	background-position: 95% 7px;
	padding-left: 0;
	padding-right: 30px;
}

body ol.ja-ordered-list li {
	line-height: 180%;
	margin-left: 30px;
}

body dl.ja-definition-list dt {
	font-weight: bold;
	line-height: 160%;
}

body dl.ja-definition-list dd {
	margin-left: 15px;
	line-height: 160%;
}

ul.checklist li,ul.starlist li,ul.arrowlist li,ul.bulletlist li,ul.crosslist li,ul.addlist li
	{
	padding-left: 0 !important;
	padding-right: 22px !important;
	background-position: right top !important;
}

/* Big Number ---*/
.blocknumber {
	padding: 5px 55px 5px 0 !important;
}

.blocknumber .bignumber {
	left: auto;
	right: 0;
}

.blockdropcap {
	padding: 5px 55px 5px 0px !important;
}

.dropcap-1,.dropcap-2,.dropcap-3 {
	left: auto;
	right: 0;
}

/* ICON STYLE
-----------------------------------------------------------------*/
.icon-small-title {
	background-position: right center !important;
	padding-left: 0 !important;
	padding-right: 30px !important;
}

.icon-big-title {
	padding-right: 70px !important;
	padding-left: 0 !important;
	background-position: right center !important;
}

.icon {
	background-position: right top !important;
	padding-right: 25px !important;
	padding-left: 0 !important;
}

/* Tips, Error, Message, Hightlight ---*/
body p.ja-typo-icon {
	padding-left: 0;
	padding-right: 25px;
}

body p.ja-typo-icon span.icon {
	left: auto;
	right: 0;
	padding-right: 0 !important;
}

/* BUBBLES
-----------------------------------------------------------------*/
/* Common Style + Style 1 */
.ja-typo-bubble p.ja-typo-bubble-meta {
	padding-right: 65px;
	padding-left: 0;
}

.ja-typo-bubble span.ja-typo-bubble-arrow {
	left: auto;
	right: 28px;
}

/* Style 2 --- */
/* Style 3 --- */
/* Style 4 --- */
/* Style 5 --- */
/* Style 6 --- */
/* Common Style for Rounded Bubbles --- */
/* MESSAGE BOXES AND LEGENDS STYLE
-----------------------------------------------------------------*/
/* Box style ---*/
body p.ja-typo-box {
	padding: 10px 50px 10px 10px;
}

/* Box with icons */
body p.box-download,body p.box-sticky {
	background-position: right 15px;
	padding-left: 10px !important;
	padding-right: 50px !important;
}

body p.box-download {
	background-image: url(images/rtl/icons/download-big.png);
}

body p.box-sticky {
	background-image: url(images/rtl/icons/sticky-big.png);
}

/* Box without icons - Style 1*/
body p.box-grey-1,body p.box-hilite-1 {
	padding: 10px 15px;
}

/* Box without icons - Style 2*/
body p.box-grey-2,body p.box-hilite-2 {
	padding: 10px 15px;
}

/* Rounded Box*/
/* Legend ---*/
.ja-typo-legend .legend-title {
	float: right;
	left: auto;
	right: 10px;
}

/* Legend Style 2 */
/* Rounded Box*/
/* BUTTONS
--------------------------------------------------*/
/* Common Buttons Style ---*/
a.ja-typo-btn {
	float: right;
}

.button-img {
	float: right;
}

/*Use for Demo Page Only*/
a.ja-typo-btn {
	margin: 20px 0 10px 30px;
	float: right;
}

/* Icon Buttons ---*/
a.ja-typo-btn-icn span {
	padding: 0 34px 0 15px;
	background-position: right 7px;
}

a.btn-icn-save span {
	background-image: url(images/rtl/icons/disk.png);
}

a.btn-icn-tip span {
	background-image: url(images/rtl/icons/lightbulb.png);
}

a.btn-icn-info span {
	background-image: url(images/rtl/icons/information.png);
}

a.btn-icn-ok span {
	background-image: url(images/rtl/icons/tick.png);
}

a.btn-icn-warning span {
	background-image: url(images/rtl/icons/exclamation.png);
}

/* Big Buttons ----*/
/* Small Buttons --- */
/* Common style for Dark Buttons --- */
/* Button Blue*/
/* Button Black*/
/* Button green*/
/* Button red*/
/* Button orange*/
/* Common style for Rounded Buttons --- */
/* TAGS
--------------------------------------------------*/
/* Common style for Rounded Tags --- */
/* SPECIAL MODULE STYLE
--------------------------------------------------*/
/* Badge ---*/
.badge {
	background-image: url(images/rtl/icon-badge.png);
	right: auto;
	left: 0;
}
/*Use for Demo Page Only*/
/* FORM
--------------------------------------------------*/
/* Fieldset ----*/
/* Common Style + Style 1 */
/* Style 2 */
/*Use for Demo Page Only*/
/* TYPO PAGE LAYOUT
-------------------------------------------------------------*/
/* Blockswrap Actions ---*/