.logman_container {
  background-color: #fff;
  width: 100%;
  border: 1px solid #ddd;

  &:before,
  &:after {
    display: table;
    content: " ";
  }

  &:after {
    clear: both;
  }
}

.logman_admin_list_grid {
  margin-left: 260px;
  float: none;
  border-left: 1px solid #ddd;
}

.logman_purge_dialog,
.logman_export_dialog {
  padding: 10px;
}

.logman_purge_dialog__buttons {
  span {
    &:after, &:before {
      content: " ... ";
    }
  }
}
