.logman-activities-filters {
  .controls {
    padding: 10px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
  }

  fieldset {
    padding: 0 0 0 20px;
  }

  &__calendar,
  &__days-back,
  &__by-user {
    clear: left;
  }

  &__buttons {
    clear: both;

    .btn {
      float: none;
    }
  }

  &__days-back {
    padding-top: 5px;
    clear: both;
    display: block;

    input {
      width: 3em;
      min-height: 28px;
      height: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }

  &__by-user {
    padding-top: 10px;
  }

  &__calendar > * {
    float: left;
  }
}