#logman-sidebar
{
  h3 {
    background-color: #eee;
    padding: 3px 8px 3px 5px;
    line-height: 18px;
    border-bottom: 1px solid #ddd;
    font-size: 11px;
    text-transform: uppercase;
    color: #666;
    text-shadow: #fff 0 1px 0;
    margin: 0;
    position: relative;
  }

  .logman-components {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ddd;

    li {
      list-style: none;
      margin: 0;
      padding: 0;
      line-height: 12px;

      a {
        display: block;
        padding: 6px 0 6px 10px;
        border-top: 1px solid #F9F9F9;
        line-height: 16px;
        background-color: white;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &.active > a,
      &.active > a:hover {
        color: #FFF;
        border-top-color: adjust-hue($btnPrimaryBackground, 5%);
        @include gradient-vertical($btnPrimaryBackground, $btnPrimaryBackgroundHighlight);
        @include box-shadow(hsla(0, 0%, 100%, 0.2) 0 1px 0 inset);
        text-shadow: hsla(0, 0%, 0%, 0.2) 0 -1px 0;
      }

      a:hover,
      &.active ul li a:hover {
        color: #fff;
        border-top-color: lighten($btnPrimaryBackground, 20%);
        @include gradient-vertical(lighten($btnPrimaryBackground, 25%), lighten($btnPrimaryBackground, 15%));
        text-decoration: none;
      }

      ul li a {
        padding-left: 32px;
      }

      &.active ul li a {
        background: none;
        background-color: white;
        border-top-color: #F9F9F9;
      }
    }
  }

  .datepicker {
    padding: 0;
  }

  .controls {
    padding: 10px;
  }
}