.logman_table_layout--list {
  .logman_table_layout__time {
    width: auto;
    white-space: nowrap;
  }

  .logman_table_layout__viewall .btn {
    text-align: center;
    display: block;
  }
}

.logman_table_layout {
  margin-top: 0px;
  margin-bottom: 0px; // Bootstap override
  color: #616161;

  &__item {
    &:first-child td {
      border-top: none;
    }
  }

  .logman_table_layout__item--header th {
    background-color: #e5e5e5
  }

  tbody,
  thead {
    background: white;
  }

  thead {
    background-color: $grayLighter;

    th {
      padding: 3px 8px 3px 5px !important;
      font-size: 11px;
      background: #eee;
      line-height: 18px !important;
      border-bottom: 1px solid #ddd;
      font-size: 11px;
      text-transform: uppercase;
      color: #666;
      text-shadow: #fff 0 1px 0;
      vertical-align: middle;
      font-weight: bold;
    }

    td {
      background-color: lighten($grayLighter, 3%);
    }
  }

  tbody {
    &.selected-single tr.selected td {
      border-top-color: adjust-hue($btnPrimaryBackground, 5%);
      @include gradient-vertical($btnPrimaryBackground, $btnPrimaryBackgroundHighlight);
      @include box-shadow(hsla(0, 0%, 100%, 0.2) 0 1px 0 inset);
      text-shadow: hsla(0, 0%, 0%, 0.2) 0 -1px 0;
    }
    &.selected-multiple tr.selected td {
      background: $btnPrimaryBackground;
    }

    tr {
      td {
        small {
          display: block;
          max-width: 200px;
        }
        * {
          vertical-align: baseline;
        }
      }

      &.selected td,
      &.selected td a,
      &.selected td small,
      &.selected td span {
        color: white !important;
      }
    }
  }

  tfoot {
    .container {
      margin-right: auto;
      margin-left: auto;
    }

    td {
      background-color: $grayLighter;
      text-align: center;

      .pagination {
        display: inline-block;
        padding: 0;
        margin: 0 auto;

        .limit {
          float: left;
          line-height: 26px;
          margin: 0 10px;
        }

        ul {
          margin: 0;
        }
      }
    }
  }
}